<div class="ibox-content">

    <div>
        <table class="table">
            <tr>
                <th style="width:500px;">Message Type</th>
                <th style="width: 200px;">Email Delivery Type</th>
            </tr>
            <tr ng-repeat="mailRecipientConfig in vm.mailRecipientConfigs">
                <td>{{mailRecipientConfig.eventTypeName}}</td>
                <td>                    
                    <select ng-model="mailRecipientConfig.emailDeliveryTypeID" ng-options="deliveryType.id as deliveryType.name for deliveryType in vm.mailDeliveryTypes">                        
                    </select>
                    <!--<select ng-model="mailRecipientConfig.emailDeliveryTypeID">
                        <option ng-repeat="deliveryType.name for deliveryType in vm.mailDeliveryTypes" value="{{deliveryType.id}}">{{deliveryType.name}}</option>
                    </select>-->
                </td>
            </tr>
        </table>
    </div>
    <div>
        <span>
            <input type="button" class="btn btn-primary btn-sm" value="Save" ng-click="vm.saveEmailDeliveryConfigs()" />
        </span>
    </div>
</div>