<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="IssuerName" value="PassiveSigninSTS"/>
    <add key="SigningCertificateName" value="CN=IdentityTKStsCert"/>
    <add key="EncryptingCertificateName" value=""/>
    <add key="version" value="0.0.0.0"/>
    <add key="Banner1" value="Oops! ... I don't think you want to be here"/>
    <add key="Banner2" value="If you are an EDS user, try going back to EDS and logging in again."/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=localhost;database=StateEval;uid=hoc;Password=mumBleFr@tz;Pooling=true;Max Pool Size=2000" name="SEDbConnection"/>
  </connectionStrings>
  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PracticeParticipantGuestLanding.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="4096" requestValidationMode="4.0" requestValidationType="System.Web.Util.RequestValidator"/>
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <clear/>
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="SEDbConnection" applicationName="SE"/>
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="MySqlProfileProvider">
      <providers>
        <!--
        <add name="MySqlProfileProvider" connectionStringName="SeDbConnection" applicationName="SE" type="System.Web.Profile.SqlProfileProvider"/>
    -->
      </providers>
      <properties>
        <add name="HasResetPassword" type="System.Boolean" defaultValue="false"/>
        <add name="foo" defaultValue="bar"/>
      </properties>
    </profile>
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear/>
        <add name="MySqlMembershipProvider" connectionStringName="SEDbConnection" applicationName="SE" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="true" maxInvalidPasswordAttempts="200" passwordAttemptWindow="30" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <!-- 
        Set compilation debug="true" to insert debugging 
        symbols into the compiled page. Because this 
        affects performance, set this value to true only 
        during development.
    -->
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!-- 
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <!-- Deny Anonymous users. -->
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--
    The <customErrors> section enables configuration 
    of what to do if/when an unhandled error occurs 
    during the execution of a request. Specifically, 
    it enables developers to configure html error pages 
    to be displayed in place of a error stack trace.
    -->
    <!--
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <sessionState mode="InProc" sqlCommandTimeout="600" sqlConnectionString="data source=localhost;user id=hoc;pwd=mumBleFr@tz;"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImage.axd_*"/>
      <remove name="Elmah"/>
      <remove name="Telerik.Web.UI.WebResource.axd_*"/>
      <remove name="Telerik.Web.UI.SpellCheckHandler.axd_*"/>
      <remove name="Telerik.Web.UI.DialogHandler.aspx_*"/>
      <remove name="Telerik.RadUploadProgressHandler.ashx_*"/>
    </handlers>
    <modules>
      <remove name="ErrorLog"/>
      <remove name="RadUploadModule"/>
      <remove name="WSFederationAuthenticationModule"/>
      <remove name="SessionAuthenticationModule"/>
    </modules>
  </system.webServer>
  <!-- 
  Uncomment the lines below to enable WIF tracing to: WIFTrace.e2e. 
  Open the trace file using the SvcTraceViewer.exe tool (shipped with the WCF SDK available from Microsoft) or a xml viewer.
  Refer to MSDN if you wish to add WCF tracing.
  -->
  <!--<system.diagnostics>
    <sources>
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WIFTrace.e2e" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>