/Releases/
obj
bin
PrecompiledWeb
*.vspscc
StyleCop.Cache
*.suo
*.user
/*.vssscc
/src/packages/
/src/!packages/repositories.config
**/FakesAssemblies/
*.GhostDoc.xml
*.orig
src/sql/cmd.txt
src/sql/summary.txt
src/.idea/**
src/tools/Prototypes/src/sql/*.txt