
/***********************************************************************************/
DECLARE @sql_error INT,@tran_count INT,@sql_error_message NVARCHAR(500), @prevVersion bigint
DECLARE @BugFixed bigint, @title varchar(100), @comment varchar(400), @ahora dateTime
SELECT  @ahora = GETDATE(), @sql_error= 0,@tran_count = @@TRANCOUNT 
IF @tran_count = 0
   BEGIN TRANSACTION
/***********************************************************************************/
/* ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** */
select @bugFixed = 103824005
, @title = '103824005_fixFormattingDanielsonDescriptor'
, @comment = ''
/* ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** */
/***********************************************************************************/
/*  Notes...
	a) update the @bugFixed, title and comment variables above
	b) update the body of the patch, (below) checking for errors to roll back if necessary
	c) in the case of a schema update, you must also check the existence of the change,
        as schema changes should also have been made in SchemaCreate.  This way, you
        can still run the patch (to update the version log), but the change won't be
        made again.
*/
if EXISTS (select bugNumber from dbo.updateLog WHERE bugNumber = @bugFixed) 
BEGIN
	SELECT @sql_error_message = 'Error: fix for bugNumber #' + Convert(varchar(20), @bugFixed) + ' has already been applied'
    GOTO ProcEnd
END

INSERT dbo.UpdateLog (bugNumber, UpdateName, TimeStamp, comment) values (@bugFixed, @title, @ahora, @comment)
SELECT @sql_error = @@ERROR
IF @sql_error <> 0
   BEGIN
	  SELECT @sql_error_message = 'insert log entry failed' 

	  GOTO ErrorHandler
   END


/***********************************************************************************/
/***** ||||  UPDATE CONTENT  ||||||*************************************************/
/***** VVVV                  VVVVVV ************************************************/

update serubricrow set PL4Descriptor='<p>Teacher displays extensive knowledge of the important concepts in the discipline and the ways they relate both to one another and to other disciplines.</p><p>Teacher’s plans and practice reflect understanding of prerequisite relationships among topics and concepts and provide a link to necessary cognitive structures needed by students to ensure understanding.</p><p>Teacher’s plans and practice reflect familiarity with a wide range of effective pedagogical approaches in the discipline, anticipating student misconceptions.</p>' where RubricRowID=109
update serubricrow set PL3Descriptor='<p>Teacher displays solid knowledge of the important concepts in the discipline and the ways they relate to one another.</p><p>Teacher’s plans and practice reflect accurate understanding of prerequisite relationships among topics and concepts.</p><p>Teacher’s plans and practice reflect familiarity with a wide range of effective pedagogical approaches in the discipline.</p>' where RubricRowID=109
update serubricrow set PL2Descriptor='<p>Teacher is familiar with the important concepts in the discipline but displays lack of awareness of how these concepts relate to one another.</p><p>Teacher’s plans and practice indicate some awareness of prerequisite relationships, although such knowledge may be inaccurate or incomplete.</p><p>Teacher’s plans and practice reflect a limited range of pedagogical approaches to the discipline or to the students.</p>' where RubricRowID=109
update serubricrow set PL1Descriptor='<p>In planning and practice, teacher makes content errors or does not correct errors made by students.</p><p>Teacher’s plans and practice display little understanding of prerequisite relationships important to student’s learning of the content.</p><p>Teacher displays little or no understanding of the range of pedagogical approaches suitable to student’s learning of the content.</p>' where RubricRowID=109

update serubricrow set PL4Descriptor='<p>Teacher actively seeks knowledge of students’ levels of development and their backgrounds, cultures, skills, language proficiency, interests, and special needs from a variety of sources. This information is acquired for individual students.</p>' where RubricRowID=110
update serubricrow set PL4Descriptor='<p>Teacher actively seeks knowledge of students’ levels of development and their backgrounds, cultures, skills, language proficiency, interests, and special needs from a variety of sources. This information is acquired for individual students.</p>' where RubricRowID=110
update serubricrow set PL3Descriptor='<p>Teacher understands the active nature of student learning and attains information about levels of development for groups of students.</p><p>The teacher also purposefully seeks knowledge from several sources of students’ backgrounds, cultures, skills, language proficiency, interests, and special needs and attains this knowledge about groups of students.</p>' where RubricRowID=110
update serubricrow set PL3Descriptor='<p>Teacher understands the active nature of student learning and attains information about levels of development for groups of students.</p><p>The teacher also purposefully seeks knowledge from several sources of students’ backgrounds, cultures, skills, language proficiency, interests, and special needs and attains this knowledge about groups of students.</p>' where RubricRowID=110


update serubricrow set PL3Descriptor='<p>Teacher promotes the successful learning of all students, making minor adjustments as needed to instruction plans and accommodating student questions, needs, and interests.</p><p>Drawing on a broad repertoire of strategies, the teacher persists in seeking approaches for students who have difficulty learning.</p>' where RubricRowID=124

update serubricrow set PL4Descriptor='<p>The classroom culture is a cognitively vibrant place, characterized by a shared belief in the importance of learning.</p><p>The teacher conveys high expectations for learning by all students and insists on hard work.</p><p>Students assume responsibility for high quality by initiating improvements, making revisions, adding detail, and/or helping peers.</p>' where RubricRowID=116

update serubricrow set PL4Descriptor='<p>The teacher links the instructional purpose of the lesson to student interests; the directions and procedures are clear and anticipate possible student misunderstanding.</p><p>The teacher’s explanation of content is thorough and clear, developing conceptual understanding through artful scaffolding and connecting with students’ interests.</p><p>Students contribute to extending the content and help explain concepts to their classmates.</p><p>The teacher’s spoken and written language is expressive, and the teacher finds opportunities to extend students’ vocabularies.</p>' where RubricRowID=120
update serubricrow set PL4Descriptor='<p>Virtually all students are intellectually engaged in challenging content through well-designed learning tasks and suitable scaffolding by the teacher and fully aligned with the instructional outcomes.</p><p>In addition, there is evidence of some student initiation of inquiry and of student contribution to the exploration of important content.</p><p>The pacing of the lesson provides students the time needed to intellectually engage with and reflect upon their learning and to consolidate their understanding.</p><p>Students may have some choice in how they complete tasks and may serve as resources for one another.</p>' where RubricRowID=122
update serubricrow set PL4Descriptor='<p>Teacher uses a variety or series of questions or prompts to challenge students cognitively, advance high-level thinking and discourse, and promote metacognition.</p><p>Students formulate many questions, initiate topics, and make unsolicited contributions.</p><p>Students themselves ensure that all voices are heard in the discussion.</p>' where RubricRowID=121
update serubricrow set PL4Descriptor='<p>Teacher makes a thoughtful and accurate assessment of a lesson’s effectiveness and the extent to which it achieved its instructional out- comes, citing many specific examples from the lesson and weighing the relative strengths of each.</p><p>Drawing on an extensive repertoire of skills, teacher offers specific alternative actions, complete with the probable success of different courses of action.</p>' where RubricRowID=125

update serubricrow set PL4Descriptor='<p>Teacher seizes an opportunity to enhance learning, building on a spontaneous event or student interests, or successfully adjusts and differentiates instruction to address individual student misunderstandings.</p><p>Teacher persists in seeking effective approaches for students who need help, using an extensive repertoire of instructional strategies and soliciting additional resources from the school or community.</p>' where RubricRowID=124
update serubricrow set PL4Descriptor='<p>Establishes appropriate student growth goal(s) for subgroups of students not reaching full potential in collaboration with students, parents, and other school staff. Goal(s) identify multiple, high-quality sources of data to monitor, adjust, and evaluate achievement of goal(s).</p>' where RubricRowID=131
update serubricrow set PL4Descriptor='<p>Multiple sources of growth or achievement data from at least two points in time show evidence of high growth for all or nearly all students.</p>' where RubricRowID=132

update serubricrow set PL4Descriptor='<p>All outcomes represent rigorous and important learning in the discipline.</p><p>The outcomes are clear, are written in the form of student learning, and permit viable methods of assessment.</p><p>Outcomes reflect several different types of learning and, where appropriate, represent opportunities for both coordination and integration.</p><p>Outcomes take into account the varying needs of individual students.</p>' where RubricRowID=111
update serubricrow set PL4Descriptor='<p>Teacher displays extensive knowledge of resources—not only through the school and district but also in the community, through professional organizations and universities, and on the Internet—for classroom use, for the expansion of his or her own knowledge, and for students.</p>' where RubricRowID=112
update serubricrow set PL4Descriptor='<p>Plans represent the coordination of in-depth content knowledge, understanding of different students’ needs, and available resources (including technology), resulting in a series of learning activities designed to engage students in high-level cognitive activity.</p><p>Learning activities are differentiated appropriately for individual learners. Instructional groups are varied appropriately with some opportunity for student choice.</p><p>The lesson’s or unit’s structure is clear and allows for different pathways according to diverse student needs.</p>' where RubricRowID=113
update serubricrow set PL4Descriptor='<p>Classroom interactions among the teacher and individual students are highly respectful, reflecting genuine warmth and caring and sensitivity to students as individuals.</p><p>Students exhibit respect for the teacher and contribute to high levels of civil interaction between all members of the class. The net result of interactions is that of connections with students as individuals.</p>' where RubricRowID=115
update serubricrow set PL4Descriptor='<p>Instructional time is maximized because of efficient classroom routines and procedures.</p><p>Students contribute to the management of instructional groups, transitions, and the handling of materials and supplies.</p><p>Routines are well understood and may be initiated by students.</p>' where RubricRowID=117
update serubricrow set PL4Descriptor='<p>Student behavior is entirely appropriate.</p><p>Students take an active role in monitoring their own behavior and that of other students against standards of conduct.</p><p>Teachers’ monitoring of student behavior is subtle and preventive.</p><p>Teacher’s response to student misbehavior is sensitive to individual student needs and respects students’ dignity.</p>' where RubricRowID=118
update serubricrow set PL4Descriptor='<p>The classroom is safe, and learning is accessible to all students, including those with special needs.</p><p>Teacher makes effective use of physical resources, including computer technology. The teacher ensures that the physical arrangement is appropriate to the learning activities.</p><p>Students contribute to the use or adaptation of the physical environment to advance learning.</p>' where RubricRowID=119
update serubricrow set PL4Descriptor='<p>Teacher’s plan for student assessment is fully aligned with the instructional outcomes and has clear criteria and standards that show evidence of student contribution to their development.</p><p>Assessment methodologies have been adapted for individual students, as needed.</p><p>The approach to using formative assessment is well designed and includes student as well as teacher use of the assessment information. Teacher intends to use assessment results to plan future instruction for individual students.</p>' where RubricRowID=114
update serubricrow set PL4Descriptor='<p>Assessment is fully integrated into instruction through extensive use of formative assessment.</p><p>Students appear to be aware of, and there is some evidence that they have contributed to, the assessment criteria.</p><p>Students self-assess and monitor their progress.</p><p>A variety of feedback, from both their teacher and their peers, is accurate, specific, and advances learning.</p><p>Questions, prompts, assessments are used regularly to diagnose evidence of learning by individual students.</p>' where RubricRowID=123
update serubricrow set PL4Descriptor='<p>Teacher’s system for maintaining information on student completion of assignments, student progress in learning, and noninstructional records is fully effective.</p><p>Students contribute information and participate in maintaining the records.</p>' where RubricRowID=126
update serubricrow set PL4Descriptor='<p>Establishes appropriate student growth goal(s) for  students in collaboration with students and parents. These whole classroom goals align to school goal(s). Goals identify multiple, high-quality sources of data to monitor, adjust, and evaluate achievement of goal(s).</p>' where RubricRowID=133
update serubricrow set PL4Descriptor='<p>Multiple sources of growth or achievement data from at least two points in time show evidence of high growth for all or nearly all students.</p>' where RubricRowID=134
update serubricrow set PL4Descriptor='<p>Teacher’s communication with families is frequent and sensitive to cultural traditions, with students contributing to the communication.</p><p>Response to family concerns is handled with professional and cultural sensitivity.</p><p>Teacher’s efforts to engage families in the instructional program are frequent and successful.</p>' where RubricRowID=127
update serubricrow set PL4Descriptor='<p>Teacher’s relationships with colleagues are characterized by mutual support and cooperation, with the teacher taking initiative in assuming leadership among the faculty.</p><p>Teacher takes a leadership role in promoting a culture of professional inquiry.</p><p>Teacher volunteers to participate in school events and district projects making a substantial contribution, and assuming a leadership role in at least one aspect of school or district life.</p>' where RubricRowID=128
update serubricrow set PL4Descriptor='<p>Teacher seeks out opportunities for professional development and makes a systematic effort to conduct action research.</p><p>Teacher seeks out feedback on teaching from both supervisors and colleagues.</p><p>Teacher initiates important activities to contribute to the profession.</p>' where RubricRowID=129
update serubricrow set PL4Descriptor='<p>Teacher takes a leadership role with colleagues and can be counted on to hold to the highest standards of honesty, integrity, and confidentiality.</p><p>Teacher is highly proactive in serving students, seeking out resources when needed. Teacher makes a concerted effort to challenge negative attitudes or practices to ensure that all students, particularly those traditionally under- served, are honored in the school.</p><p>Teacher takes a leadership role in team or departmental decision making and helps ensure that such decisions are based on the highest professional standards.</p>Teacher complies fully with school and district regulations, taking a leadership role with col- leagues.</p>' where RubricRowID=130
update serubricrow set PL4Descriptor='<p>Leads other grade, school, or district team members to establish goal(s), to develop and implement common, high-quality measures, and to monitor growth and achievement during the year.</p>' where RubricRowID=135


update serubricrow set PL4Descriptor='<p>All outcomes represent rigorous and important learning in the discipline.</p><p>The outcomes are clear, are written in the form of student learning, and permit viable methods of assessment.</p><p>Outcomes reflect several different types of learning and, where appropriate, represent opportunities for both coordination and integration.</p><p>Outcomes take into account the varying needs of individual students.</p>' where RubricRowID=111
update serubricrow set PL4Descriptor='<p>Teacher displays extensive knowledge of resources—not only through the school and district but also in the community, through professional organizations and universities, and on the Internet—for classroom use, for the expansion of his or her own knowledge, and for students.</p>' where RubricRowID=112
update serubricrow set PL4Descriptor='<p>Plans represent the coordination of in-depth content knowledge, understanding of different students’ needs, and available resources (including technology), resulting in a series of learning activities designed to engage students in high-level cognitive activity.</p><p>Learning activities are differentiated appropriately for individual learners. Instructional groups are varied appropriately with some opportunity for student choice.</p><p>The lesson’s or unit’s structure is clear and allows for different pathways according to diverse student needs.</p>' where RubricRowID=113
update serubricrow set PL4Descriptor='<p>Teacher’s plan for student assessment is fully aligned with the instructional outcomes and has clear criteria and standards that show evidence of student contribution to their development.</p><p>Assessment methodologies have been adapted for individual students, as needed.</p><p>The approach to using formative assessment is well designed and includes student as well as teacher use of the assessment information. Teacher intends to use assessment results to plan future instruction for individual students.</p>' where RubricRowID=114
update serubricrow set PL4Descriptor='<p>Classroom interactions among the teacher and individual students are highly respectful, reflecting genuine warmth and caring and sensitivity to students as individuals.</p><p>Students exhibit respect for the teacher and contribute to high levels of civil interaction between all members of the class. The net result of interactions is that of connections with students as individuals.</p>' where RubricRowID=115
update serubricrow set PL4Descriptor='<p>The classroom culture is a cognitively vibrant place, characterized by a shared belief in the importance of learning.</p><p>The teacher conveys high expectations for learning by all students and insists on hard work.</p><p>Students assume responsibility for high quality by initiating improvements, making revisions, adding detail, and/or helping peers.</p>' where RubricRowID=116
update serubricrow set PL4Descriptor='<p>Instructional time is maximized because of efficient classroom routines and procedures.</p><p>Students contribute to the management of instructional groups, transitions, and the handling of materials and supplies.</p><p>Routines are well understood and may be initiated by students.</p>' where RubricRowID=117
update serubricrow set PL4Descriptor='<p>Student behavior is entirely appropriate.</p><p>Students take an active role in monitoring their own behavior and that of other students against standards of conduct.</p><p>Teachers’ monitoring of student behavior is subtle and preventive.</p><p>Teacher’s response to student misbehavior is sensitive to individual student needs and respects students’ dignity.</p>' where RubricRowID=118
update serubricrow set PL4Descriptor='<p>The classroom is safe, and learning is accessible to all students, including those with special needs.</p><p>Teacher makes effective use of physical resources, including computer technology. The teacher ensures that the physical arrangement is appropriate to the learning activities.</p><p>Students contribute to the use or adaptation of the physical environment to advance learning.</p>' where RubricRowID=119
update serubricrow set PL4Descriptor='<p>The teacher links the instructional purpose of the lesson to student interests; the directions and procedures are clear and anticipate possible student misunderstanding.</p><p>The teacher’s explanation of content is thorough and clear, developing conceptual understanding through artful scaffolding and connecting with students’ interests.</p><p>Students contribute to extending the content and help explain concepts to their classmates.</p><p>The teacher’s spoken and written language is expressive, and the teacher finds opportunities to extend students’ vocabularies.</p>' where RubricRowID=120
update serubricrow set PL4Descriptor='<p>Teacher uses a variety or series of questions or prompts to challenge students cognitively, advance high-level thinking and discourse, and promote metacognition.</p><p>Students formulate many questions, initiate topics, and make unsolicited contributions.</p><p>Students themselves ensure that all voices are heard in the discussion.</p>' where RubricRowID=121
update serubricrow set PL4Descriptor='<p>Virtually all students are intellectually engaged in challenging content through well-designed learning tasks and suitable scaffolding by the teacher and fully aligned with the instructional outcomes.</p><p>In addition, there is evidence of some student initiation of inquiry and of student contribution to the exploration of important content.</p><p>The pacing of the lesson provides students the time needed to intellectually engage with and reflect upon their learning and to consolidate their understanding.</p><p>Students may have some choice in how they complete tasks and may serve as resources for one another.</p>' where RubricRowID=122
update serubricrow set PL4Descriptor='<p>Assessment is fully integrated into instruction through extensive use of formative assessment.</p><p>Students appear to be aware of, and there is some evidence that they have contributed to, the assessment criteria.</p><p>Students self-assess and monitor their progress.</p><p>A variety of feedback, from both their teacher and their peers, is accurate, specific, and advances learning.</p><p>Questions, prompts, assessments are used regularly to diagnose evidence of learning by individual students.</p>' where RubricRowID=123
update serubricrow set PL4Descriptor='<p>Teacher seizes an opportunity to enhance learning, building on a spontaneous event or student interests, or successfully adjusts and differentiates instruction to address individual student misunderstandings.</p><p>Teacher persists in seeking effective approaches for students who need help, using an extensive repertoire of instructional strategies and soliciting additional resources from the school or community.</p>' where RubricRowID=124
update serubricrow set PL4Descriptor='<p>Teacher makes a thoughtful and accurate assessment of a lesson’s effectiveness and the extent to which it achieved its instructional out- comes, citing many specific examples from the lesson and weighing the relative strengths of each.</p><p>Drawing on an extensive repertoire of skills, teacher offers specific alternative actions, complete with the probable success of different courses of action.</p>' where RubricRowID=125
update serubricrow set PL4Descriptor='<p>Teacher’s system for maintaining information on student completion of assignments, student progress in learning, and noninstructional records is fully effective.</p><p>Students contribute information and participate in maintaining the records.</p>' where RubricRowID=126
update serubricrow set PL4Descriptor='<p>Teacher’s communication with families is frequent and sensitive to cultural traditions, with students contributing to the communication.</p><p>Response to family concerns is handled with professional and cultural sensitivity.</p><p>Teacher’s efforts to engage families in the instructional program are frequent and successful.</p>' where RubricRowID=127
update serubricrow set PL4Descriptor='<p>Teacher’s relationships with colleagues are characterized by mutual support and cooperation, with the teacher taking initiative in assuming leadership among the faculty.</p><p>Teacher takes a leadership role in promoting a culture of professional inquiry.</p><p>Teacher volunteers to participate in school events and district projects making a substantial contribution, and assuming a leadership role in at least one aspect of school or district life.</p>' where RubricRowID=128
update serubricrow set PL4Descriptor='<p>Teacher seeks out opportunities for professional development and makes a systematic effort to conduct action research.</p><p>Teacher seeks out feedback on teaching from both supervisors and colleagues.</p><p>Teacher initiates important activities to contribute to the profession.</p>' where RubricRowID=129
update serubricrow set PL4Descriptor='<p>Teacher takes a leadership role with colleagues and can be counted on to hold to the highest standards of honesty, integrity, and confidentiality.</p><p>Teacher is highly proactive in serving students, seeking out resources when needed. Teacher makes a concerted effort to challenge negative attitudes or practices to ensure that all students, particularly those traditionally under- served, are honored in the school.</p><p>Teacher takes a leadership role in team or departmental decision making and helps ensure that such decisions are based on the highest professional standards.</p><p>Teacher complies fully with school and district regulations, taking a leadership role with col- leagues.</p>' where RubricRowID=130

update serubricrow set PL3Descriptor='<p>The classroom culture is a cognitively busy place where learning is valued by all, with high expectations for learning being the norm for most students.</p><p>The teacher conveys that with hard work students can be successful.</p><p>Students understand their role as learners and consistently expend effort to learn.</p><p>Classroom interactions support learning and hard work.</p>' where RubricRowID=116
update serubricrow set PL3Descriptor='<p>The teacher clearly communicates instructional purpose of the lesson, including where it is situated within broader learning, and explains procedures and directions clearly.</p><p>Teacher’s explanation of content is well scaffolded, clear and accurate, and connects with students’ knowledge and experience.</p><p>During the explanation of content, the teacher invites student intellectual engagement.</p><p>Teacher’s spoken and written language is clear and correct and uses vocabulary appropriate to the students’ ages and interests.</p>' where RubricRowID=120
update serubricrow set PL3Descriptor='<p>The learning tasks and activities are aligned with the instructional outcomes and designed to challenge student thinking, the result being that most students display active intellectual engagement with important and challenging content and are supported in that engagement by teacher scaffolding.</p><p>The pacing of the lesson is appropriate, providing most students the time needed to be intellectually engaged.</p>' where RubricRowID=122
update serubricrow set PL3Descriptor='<p>Although the teacher may use some low-level questions, he or she asks the students questions designed to promote thinking and understanding.</p><p>Teacher creates a genuine discussion among students, providing adequate time for students to respond and stepping aside when appropriate.</p><p>Teacher successfully engages most students in the discussion, employing a range of strategies to ensure that most students are heard.</p>' where RubricRowID=121
update serubricrow set PL3Descriptor='<p>Teacher makes an accurate assessment of a lesson’s effectiveness and the extent to which it achieved its instructional outcomes and can cite general references to support the judgment.</p><p>Teacher makes a few specific suggestions of what could be tried another time the lesson is taught.</p>' where RubricRowID=125

update serubricrow set PL3Descriptor='<p>Establishes appropriate student growth goal(s) for subgroups of students not reaching full learning potential.  Goal(s) identify multiple, high-quality sources of data to monitor, adjust, and evaluate achievement of goal(s).</p>' where RubricRowID=131
update serubricrow set PL3Descriptor='<p>Multiple sources of growth or achievement data from at least two points in time show clear evidence of growth for most students.</p>' where RubricRowID=132

update serubricrow set PL3Descriptor='<p>Most outcomes represent rigorous and important learning in the discipline.</p><p>All the instructional outcomes are clear, are written in the form of student learning, and suggest viable methods of assessment.</p><p>Outcomes reflect several different types of learning and opportunities for coordination.</p><p>Outcomes take into account the varying needs of groups of students.</p>' where RubricRowID=111
update serubricrow set PL3Descriptor='<p>Teacher displays awareness of resources—not only through the school and district but also through sources external to the school and on the Internet—available for classroom use, for the expansion of his or her own knowledge, and for students.</p>' where RubricRowID=112
update serubricrow set PL3Descriptor='<p>Teacher coordinates knowledge of content, of students, and of resources, to design a series of learning experiences aligned to instructional outcomes and suitable to groups of students.</p><p>The learning activities have reasonable time allocations; they represent significant cognitive challenge, with some differentiation for different groups of students.</p><p>The lesson or unit has a clear structure, with appropriate and varied use of instructional groups.</p>' where RubricRowID=113
update serubricrow set PL3Descriptor='<p>Teacher-student interactions are friendly and demonstrate general caring and respect. Such interactions are appropriate to the ages of the students.</p><p>Students exhibit respect for the teacher. Inter- actions among students are generally polite and respectful.</p><p>Teacher responds successfully to disrespectful behavior among students. The net result of the interactions is polite and respectful, but impersonal.</p>' where RubricRowID=115
update serubricrow set PL3Descriptor='<p>There is little loss of instructional time because of effective classroom routines and procedures.</p><p>The teacher’s management of instructional groups and the handling of materials and sup- plies are consistently successful.</p><p>With minimal guidance and prompting, students follow established classroom routines.</p>' where RubricRowID=117
update serubricrow set PL3Descriptor='<p>Student behavior is generally appropriate.</p><p>The teacher monitors student behavior against established standards of conduct.</p><p>Teacher response to student misbehavior is consistent, proportionate, respectful to students, and effective.</p>' where RubricRowID=118
update serubricrow set PL3Descriptor='<p>The classroom is safe, and learning is accessible to all students; teacher ensures that the physical arrangement is appropriate to the learning activities.</p><p>Teacher makes effective use of physical resources, including computer technology.</p>' where RubricRowID=119
update serubricrow set PL3Descriptor='<p>Teacher’s plan for student assessment is aligned with the instructional outcomes; assessment methodologies may have been adapted for groups of students.</p><p>Assessment criteria and standards are clear. Teacher has a well-developed strategy for using formative assessment and has designed particular approaches to be used.</p><p>Teacher intends to use assessment results to plan for future instruction for groups of students.</p>' where RubricRowID=114
update serubricrow set PL3Descriptor='<p>Assessment is used regularly by teacher and/or students during the lesson through monitoring of learning progress and results in accurate, specific feedback that advances learning.</p><p>Students appear to be aware of the assessment criteria; some of them engage in self-assessment.</p><p>Questions, prompts, assessments are used to diagnose evidence of learning.</p>' where RubricRowID=123
update serubricrow set PL3Descriptor='<p>Teacher’s system for maintaining information on student completion of assignments, student progress in learning, and noninstructional records is fully effective.</p>' where RubricRowID=126
update serubricrow set PL3Descriptor='<p>Establishes appropriate student growth goal(s) for whole classroom.  Goal(s) identify multiple, high-quality sources of data to monitor, adjust, and evaluate achievement of goal(s).</p>' where RubricRowID=133
update serubricrow set PL3Descriptor='<p>Multiple sources of growth or achievement data from at least two points in time show clear evidence of growth for most students.</p>' where RubricRowID=134
update serubricrow set PL3Descriptor='<p>Teacher communicates frequently with families about the instructional program and conveys information about individual student progress.</p><p>Teacher makes some attempts to engage families in the instructional program.</p><p>Information to families is conveyed in a culturally appropriate manner.</p>' where RubricRowID=127
update serubricrow set PL3Descriptor='<p>Teacher’s relationships with colleagues are characterized by mutual support and cooperation; teacher actively participates in a culture of professional inquiry.</p><p>Teacher volunteers to participate in school events and in school and district projects, making a substantial contribution.</p>' where RubricRowID=128
update serubricrow set PL3Descriptor='<p>Teacher seeks out opportunities for professional development to enhance content knowledge and pedagogical skill.</p><p>Teacher welcomes feedback from colleagues—either when made by supervisors or when opportunities arise through professional collaboration.</p><p>Teacher participates actively in assisting other educators.</p>' where RubricRowID=129
update serubricrow set PL3Descriptor='<p>Teacher displays high standards of honesty, integrity, and confidentiality in interactions with colleagues, students, and the public.</p><p>Teacher is active in serving students, working to ensure that all students receive a fair opportunity to succeed.</p><p>Teacher maintains an open mind in team or departmental decision making.</p><p>Teacher complies fully with school and district regulations.</p>' where RubricRowID=130
update serubricrow set PL3Descriptor='<p>Consistently and actively collaborates with other grade, school, or district team members to establish goal(s), to develop and implement common, high-quality measures, and to monitor growth and achievement during the year.</p>' where RubricRowID=135

update serubricrow set PL3Descriptor='<p>Most outcomes represent rigorous and important learning in the discipline.</p><p>All the instructional outcomes are clear, are written in the form of student learning, and suggest viable methods of assessment.</p><p>Outcomes reflect several different types of learning and opportunities for coordination.</p><p>Outcomes take into account the varying needs of groups of students.</p>' where RubricRowID=111
update serubricrow set PL3Descriptor='<p>Teacher displays awareness of resources—not only through the school and district but also through sources external to the school and on the Internet—available for classroom use, for the expansion of his or her own knowledge, and for students.</p>' where RubricRowID=112
update serubricrow set PL3Descriptor='<p>Teacher coordinates knowledge of content, of students, and of resources, to design a series of learning experiences aligned to instructional outcomes and suitable to groups of students.</p><p>The learning activities have reasonable time allocations; they represent significant cognitive challenge, with some differentiation for different groups of students.</p><p>The lesson or unit has a clear structure, with appropriate and varied use of instructional groups.</p>' where RubricRowID=113
update serubricrow set PL3Descriptor='<p>Teacher’s plan for student assessment is aligned with the instructional outcomes; assessment methodologies may have been adapted for groups of students.</p><p>Assessment criteria and standards are clear. Teacher has a well-developed strategy for using formative assessment and has designed particular approaches to be used.</p><p>Teacher intends to use assessment results to plan for future instruction for groups of students.</p>' where RubricRowID=114
update serubricrow set PL3Descriptor='<p>Teacher-student interactions are friendly and demonstrate general caring and respect. Such interactions are appropriate to the ages of the students.</p><p>Students exhibit respect for the teacher. Inter- actions among students are generally polite and respectful.</p><p>Teacher responds successfully to disrespectful behavior among students. The net result of the interactions is polite and respectful, but impersonal.</p>' where RubricRowID=115
update serubricrow set PL3Descriptor='<p>The classroom culture is a cognitively busy place where learning is valued by all, with high expectations for learning being the norm for most students.</p><p>The teacher conveys that with hard work students can be successful.</p><p>Students understand their role as learners and consistently expend effort to learn.</p><p>Classroom interactions support learning and hard work.</p>' where RubricRowID=116
update serubricrow set PL3Descriptor='<p>There is little loss of instructional time because of effective classroom routines and procedures.</p><p>The teacher’s management of instructional groups and the handling of materials and sup- plies are consistently successful.</p><p>With minimal guidance and prompting, students follow established classroom routines.</p>' where RubricRowID=117
update serubricrow set PL3Descriptor='<p>Student behavior is generally appropriate.</p><p>The teacher monitors student behavior against established standards of conduct.</p><p>Teacher response to student misbehavior is consistent, proportionate, respectful to students, and effective.</p>' where RubricRowID=118
update serubricrow set PL3Descriptor='<p>The classroom is safe, and learning is accessible to all students; teacher ensures that the physical arrangement is appropriate to the learning activities.</p><p>Teacher makes effective use of physical resources, including computer technology.</p>' where RubricRowID=119
update serubricrow set PL3Descriptor='<p>The teacher clearly communicates instructional purpose of the lesson, including where it is situated within broader learning, and explains procedures and directions clearly.</p><p>Teacher’s explanation of content is well scaffolded, clear and accurate, and connects with students’ knowledge and experience.</p><p>During the explanation of content, the teacher invites student intellectual engagement.</p><p>Teacher’s spoken and written language is clear and correct and uses vocabulary appropriate to the students’ ages and interests.</p>' where RubricRowID=120
update serubricrow set PL3Descriptor='<p>Although the teacher may use some low-level questions, he or she asks the students questions designed to promote thinking and understanding.</p><p>Teacher creates a genuine discussion among students, providing adequate time for students to respond and stepping aside when appropriate.</p><p>Teacher successfully engages most students in the discussion, employing a range of strategies to ensure that most students are heard.</p>' where RubricRowID=121
update serubricrow set PL3Descriptor='<p>The learning tasks and activities are aligned with the instructional outcomes and designed to challenge student thinking, the result being that most students display active intellectual engagement with important and challenging content and are supported in that engagement by teacher scaffolding.</p><p>The pacing of the lesson is appropriate, providing most students the time needed to be intellectually engaged.</p>' where RubricRowID=122
update serubricrow set PL3Descriptor='<p>Assessment is used regularly by teacher and/or students during the lesson through monitoring of learning progress and results in accurate, specific feedback that advances learning.</p><p>Students appear to be aware of the assessment criteria; some of them engage in self-assessment.</p><p>Questions, prompts, assessments are used to diagnose evidence of learning.</p>' where RubricRowID=123
update serubricrow set PL3Descriptor='<p>Teacher promotes the successful learning of all students, making minor adjustments as needed to instruction plans and accommodating student questions, needs, and interests.</p><p>Drawing on a broad repertoire of strategies, the teacher persists in seeking approaches for students who have difficulty learning.</p>' where RubricRowID=124
update serubricrow set PL3Descriptor='<p>Teacher makes an accurate assessment of a lesson’s effectiveness and the extent to which it achieved its instructional outcomes and can cite general references to support the judgment.</p><p>Teacher makes a few specific suggestions of what could be tried another time the lesson is taught.</p>' where RubricRowID=125
update serubricrow set PL3Descriptor='<p>Teacher’s system for maintaining information on student completion of assignments, student progress in learning, and noninstructional records is fully effective.</p>' where RubricRowID=126
update serubricrow set PL3Descriptor='<p>Teacher communicates frequently with families about the instructional program and conveys information about individual student progress.</p><p>Teacher makes some attempts to engage families in the instructional program.</p><p>Information to families is conveyed in a culturally appropriate manner.</p>' where RubricRowID=127
update serubricrow set PL3Descriptor='<p>Teacher’s relationships with colleagues are characterized by mutual support and cooperation; teacher actively participates in a culture of professional inquiry.</p><p>Teacher volunteers to participate in school events and in school and district projects, making a substantial contribution.</p>' where RubricRowID=128
update serubricrow set PL3Descriptor='<p>Teacher seeks out opportunities for professional development to enhance content knowledge and pedagogical skill.</p><p>Teacher welcomes feedback from colleagues—either when made by supervisors or when opportunities arise through professional collaboration.</p><p>Teacher participates actively in assisting other educators.' where RubricRowID=129
update serubricrow set PL3Descriptor='<p>Teacher displays high standards of honesty, integrity, and confidentiality in interactions with colleagues, students, and the public.</p><p>Teacher is active in serving students, working to ensure that all students receive a fair opportunity to succeed.</p><p>Teacher maintains an open mind in team or departmental decision making.</p><p>Teacher complies fully with school and district regulations.' where RubricRowID=130

update serubricrow set PL2Descriptor='<p>The classroom culture is characterized by little commitment to learning by teacher or students.</p><p>The teacher appears to be only going through the motions, and students indicate that they are interested in completion of a task, rather than quality.</p><p>The teacher conveys that student success is the result of natural ability rather than hard work; high expectations for learning are reserved for those students thought to have a natural aptitude for the subject.</p>' where RubricRowID=116
update serubricrow set PL2Descriptor='<p>The teacher’s attempt to explain the instructional purpose has only limited success, and/or directions and procedures must be clarified after initial student confusion.</p><p>The teacher’s explanation of the content may contain minor errors; some portions are clear; other portions are difficult to follow.</p><p>The teacher’s explanation consists of a monologue, with no invitation to the students for intellectual engagement.</p><p>Teacher’s spoken language is correct; how- ever, his or her vocabulary is limited, or not fully appropriate to the students’ ages or backgrounds.</p>' where RubricRowID=120
update serubricrow set PL2Descriptor='<p>The learning tasks and activities are partially aligned with the instructional out- comes but require only minimal thinking by students, allowing most to be passive or merely compliant.</p><p>The pacing of the lesson may not provide students the time needed to be intellectually engaged.</p>' where RubricRowID=122
update serubricrow set PL2Descriptor='<p>Teacher’s questions lead students through a single path of inquiry, with answers seemingly determined in advance.</p><p>Alternatively, the teacher attempts to frame some questions designed to promote student thinking and understanding, but only a few students are involved.</p><p>Teacher attempts to engage all students in the discussion and to encourage them to respond to one another, but with uneven results.</p>' where RubricRowID=121
update serubricrow set PL2Descriptor='<p>Teacher has a generally accurate impression of a lesson’s effectiveness and the extent to which instructional outcomes were met.</p><p>Teacher makes general suggestions about how a lesson could be improved.</p>' where RubricRowID=125
update serubricrow set PL2Descriptor='<p>Teacher indicates the importance of under- standing how students learn and the students’ backgrounds, cultures, skills, language proficiency, interests, and special needs, and attains this knowledge about the class as a whole.</p>' where RubricRowID=110
update serubricrow set PL2Descriptor='<p>Teacher attempts to modify the lesson when needed and to respond to student questions and interests, with moderate success.</p><p>Teacher accepts responsibility for student success but has only a limited repertoire of strategies to draw upon.</p>' where RubricRowID=124
update serubricrow set PL2Descriptor='<p>Establishes appropriate student growth goal(s) for subgroups of students not reaching full learning potential.  Goal(s) do not identify multiple, high-quality sources of data to monitor, adjust, and evaluate achievement of goal(s).</p>' where RubricRowID=131
update serubricrow set PL2Descriptor='<p>Multiple sources of growth or achievement data from at least two points in time show some evidence of growth for some students.</p>' where RubricRowID=132


update serubricrow set PL2Descriptor='<p>Outcomes represent moderately high expectations and rigor.</p><p>Some reflect important learning in the discipline and consist of a combination of outcomes and activities.</p><p>Outcomes reflect several types of learning, but teacher has made no attempt at coordination or integration.</p><p>Most of the outcomes are suitable for most of the students in the class in accordance with global assessments of student learning.</p>' where RubricRowID=111
update serubricrow set PL2Descriptor='<p>Teacher displays basic awareness of school or district resources available for classroom use, for the expansion of his or her own knowledge, and for students, but no knowledge of resources available more broadly.</p>' where RubricRowID=112
update serubricrow set PL2Descriptor='<p>Some of the learning activities and materials are suitable to the instructional outcomes and represent a moderate cognitive challenge but with no differentiation for different students. Instructional groups partially support the instructional outcomes, with an effort by the teacher at providing some variety.</p><p>The lesson or unit has a recognizable structure; the progression of activities is uneven, with most time allocations reason- able.</p>' where RubricRowID=113
update serubricrow set PL2Descriptor='<p>Patterns of classroom interactions, both between the teacher and students and among students, are generally appropriate but may reflect occasional inconsistencies, favoritism, and disregard for students’ ages, cultures, and developmental levels.</p><p>Students rarely demonstrate disrespect for one another.</p><p>Teacher attempts to respond to disrespectful behavior, with uneven results. The net result of the interactions is neutral, conveying neither warmth nor conflict.</p>' where RubricRowID=115
update serubricrow set PL2Descriptor='<p>Some instructional time is lost through only partially effective classroom routines and procedures.</p><p>The teacher’s management of instructional groups, transitions, and/or the handling of materials and supplies is inconsistent, the result being some disruption of learning.</p><p>With regular guidance and prompting, students follow established routines.</p>' where RubricRowID=117
update serubricrow set PL2Descriptor='<p>Standards of conduct appear to have been established, but their implementation is inconsistent.</p><p>Teacher tries, with uneven results, to monitor student behavior and respond to student misbehavior.</p><p>There is inconsistent implementation of the standards of conduct.</p>' where RubricRowID=118
update serubricrow set PL2Descriptor='<p>The classroom is safe, and essential learn- ing is accessible to most students.</p><p>The teacher’s use of physical resources, including computer technology, is moderately effective.</p><p>Teacher makes some attempt to modify the physical arrangement to suit learning activities, with partial success.</p>' where RubricRowID=119
update serubricrow set PL2Descriptor='<p>Some of the instructional outcomes are assessed through the proposed approach, but others are not.</p><p>Assessment criteria and standards have been developed, but they are not clear.</p><p>Approach to the use of formative assessment is rudimentary, including only some of the instructional outcomes.</p><p>Teacher intends to use assessment results to plan for future instruction for the class as a whole.</p>' where RubricRowID=114
update serubricrow set PL2Descriptor='<p>Assessment is used sporadically by teacher and/or students to support instruction through some monitoring of progress in learning.</p><p>Feedback to students is general, students appear to be only partially aware of the assessment criteria used to evaluate their work, and few assess their own work.</p><p>Questions, prompts, and assessments are rarely used to diagnose evidence of learning.</p>' where RubricRowID=123
update serubricrow set PL2Descriptor='<p>Teacher’s system for maintaining information on student completion of assignments and student progress in learning is rudimentary and only partially effective.</p><p>Teacher’s records for noninstructional activities are adequate but require frequent monitoring to avoid errors.</p>' where RubricRowID=126
update serubricrow set PL2Descriptor='<p>Establishes appropriate student growth goal(s) for whole classroom.  Goal(s) do not identify multiple, high-quality sources of data to monitor, adjust, and evaluate achievement of goal(s).</p>' where RubricRowID=133
update serubricrow set PL2Descriptor='<p>Multiple sources of growth or achievement data from at least two points in time show some evidence of growth for some students.</p>' where RubricRowID=134
update serubricrow set PL2Descriptor='<p>Teacher makes sporadic attempts to communicate with families about the instructional program and about the progress of individual students but does not attempt to engage families in the instructional program. Communications are one-way and not always appropriate to the cultural norms of those families.</p>' where RubricRowID=127
update serubricrow set PL2Descriptor='<p>Teacher maintains cordial relationships with colleagues to fulfill duties that the school or district requires.</p><p>Teacher becomes involved in the school’s culture of professional inquiry when invited to do so.</p><p>Teacher participates in school events and school and district projects when specifically asked to do so.</p>' where RubricRowID=128
update serubricrow set PL2Descriptor='<p>Teacher participates in professional activities to a limited extent when they are convenient.</p><p>Teacher accepts, with some reluctance, feedback on teaching performance from both supervisors and colleagues.</p><p>Teacher finds limited ways to contribute to the profession.</p>' where RubricRowID=129
update serubricrow set PL2Descriptor='<p>Teacher is honest in interactions with col- leagues, students, and the public.</p><p>Teacher attempts, though inconsistently, to serve students. Teacher does not knowingly contribute to some students’ being ill served by the school.</p><p>Teacher’s decisions and recommendations are based on limited but genuinely professional considerations.</p><p>Teacher complies minimally with school and district regulations, doing just enough to get by.</p>' where RubricRowID=130
update serubricrow set PL2Descriptor='<p>Does not consistently collaborate with other grade, school, or district team members to establish goal(s), to develop and implement common, high-quality measures, and to monitor growth and achievement during the year.</p>' where RubricRowID=135

update serubricrow set PL2Descriptor='<p>Teacher indicates the importance of under- standing how students learn and the students’ backgrounds, cultures, skills, language proficiency, interests, and special needs, and attains this knowledge about the class as a whole.</p>' where RubricRowID=110
update serubricrow set PL2Descriptor='<p>Outcomes represent moderately high expectations and rigor.</p><p>Some reflect important learning in the discipline and consist of a combination of outcomes and activities.</p><p>Outcomes reflect several types of learning, but teacher has made no attempt at coordination or integration.</p><p>Most of the outcomes are suitable for most of the students in the class in accordance with global assessments of student learning.</p>' where RubricRowID=111
update serubricrow set PL2Descriptor='<p>Teacher displays basic awareness of school or district resources available for classroom use, for the expansion of his or her own knowledge, and for students, but no knowledge of resources available more broadly.</p>' where RubricRowID=112
update serubricrow set PL2Descriptor='<p>Some of the learning activities and materials are suitable to the instructional outcomes and represent a moderate cognitive challenge but with no differentiation for different students. Instructional groups partially support the instructional outcomes, with an effort by the teacher at providing some variety.</p><p>The lesson or unit has a recognizable structure; the progression of activities is uneven, with most time allocations reason- able.</p>' where RubricRowID=113
update serubricrow set PL2Descriptor='<p>Some of the instructional outcomes are assessed through the proposed approach, but others are not.</p><p>Assessment criteria and standards have been developed, but they are not clear.</p><p>Approach to the use of formative assessment is rudimentary, including only some of the instructional outcomes.</p><p>Teacher intends to use assessment results to plan for future instruction for the class as a whole.</p>' where RubricRowID=114
update serubricrow set PL2Descriptor='<p>Patterns of classroom interactions, both between the teacher and students and among students, are generally appropriate but may reflect occasional inconsistencies, favoritism, and disregard for students’ ages, cultures, and developmental levels.</p><p>Students rarely demonstrate disrespect for one another.</p><p>Teacher attempts to respond to disrespectful behavior, with uneven results. The net result of the interactions is neutral, conveying neither warmth nor conflict.</p>' where RubricRowID=115
update serubricrow set PL2Descriptor='<p>The classroom culture is characterized by little commitment to learning by teacher or students.</p><p>The teacher appears to be only going through the motions, and students indicate that they are interested in completion of a task, rather than quality.</p><p>The teacher conveys that student success is the result of natural ability rather than hard work; high expectations for learning are reserved for those students thought to have a natural aptitude for the subject.</p>' where RubricRowID=116
update serubricrow set PL2Descriptor='<p>Some instructional time is lost through only partially effective classroom routines and procedures.</p><p>The teacher’s management of instructional groups, transitions, and/or the handling of materials and supplies is inconsistent, the result being some disruption of learning.</p><p>With regular guidance and prompting, students follow established routines.</p>' where RubricRowID=117
update serubricrow set PL2Descriptor='<p>Standards of conduct appear to have been established, but their implementation is inconsistent.</p><p>Teacher tries, with uneven results, to monitor student behavior and respond to student misbehavior.</p><p>There is inconsistent implementation of the standards of conduct.</p>' where RubricRowID=118
update serubricrow set PL2Descriptor='<p>The classroom is safe, and essential learn- ing is accessible to most students.</p><p>The teacher’s use of physical resources, including computer technology, is moderately effective.</p><p>Teacher makes some attempt to modify the physical arrangement to suit learning activities, with partial success.</p>' where RubricRowID=119
update serubricrow set PL2Descriptor='<p>The teacher’s attempt to explain the instructional purpose has only limited success, and/or directions and procedures must be clarified after initial student confusion.</p><p>The teacher’s explanation of the content may contain minor errors; some portions are clear; other portions are difficult to follow.</p><p>The teacher’s explanation consists of a monologue, with no invitation to the students for intellectual engagement.</p><p>Teacher’s spoken language is correct; how- ever, his or her vocabulary is limited, or not fully appropriate to the students’ ages or backgrounds.</p>' where RubricRowID=120
update serubricrow set PL2Descriptor='<p>Teacher’s questions lead students through a single path of inquiry, with answers seemingly determined in advance.</p><p>Alternatively, the teacher attempts to frame some questions designed to promote student thinking and understanding, but only a few students are involved.</p><p>Teacher attempts to engage all students in the discussion and to encourage them to respond to one another, but with uneven results.</p>' where RubricRowID=121
update serubricrow set PL2Descriptor='<p>The learning tasks and activities are partially aligned with the instructional out- comes but require only minimal thinking by students, allowing most to be passive or merely compliant.</p><p>The pacing of the lesson may not provide students the time needed to be intellectually engaged.</p>' where RubricRowID=122
update serubricrow set PL2Descriptor='<p>Assessment is used sporadically by teacher and/or students to support instruction through some monitoring of progress in learning.</p><p>Feedback to students is general, students appear to be only partially aware of the assessment criteria used to evaluate their work, and few assess their own work.</p><p>Questions, prompts, and assessments are rarely used to diagnose evidence of learning.</p>' where RubricRowID=123
update serubricrow set PL2Descriptor='<p>Teacher attempts to modify the lesson when needed and to respond to student questions and interests, with moderate success.</p><p>Teacher accepts responsibility for student success but has only a limited repertoire of strategies to draw upon.</p>' where RubricRowID=124
update serubricrow set PL2Descriptor='<p>Teacher has a generally accurate impression of a lesson’s effectiveness and the extent to which instructional outcomes were met.</p><p>Teacher makes general suggestions about how a lesson could be improved.</p>' where RubricRowID=125
update serubricrow set PL2Descriptor='<p>Teacher’s system for maintaining information on student completion of assignments and student progress in learning is rudimentary and only partially effective.</p><p>Teacher’s records for noninstructional activities are adequate but require frequent monitoring to avoid errors.</p>' where RubricRowID=126
update serubricrow set PL2Descriptor='<p>Teacher makes sporadic attempts to communicate with families about the instructional program and about the progress of individual students but does not attempt to engage families in the instructional program. Communications are one-way and not always appropriate to the cultural norms of those families.</p>' where RubricRowID=127
update serubricrow set PL2Descriptor='<p>Teacher maintains cordial relationships with colleagues to fulfill duties that the school or district requires.</p><p>Teacher becomes involved in the school’s culture of professional inquiry when invited to do so.</p><p>Teacher participates in school events and school and district projects when specifically asked to do so.</p>' where RubricRowID=128
update serubricrow set PL2Descriptor='<p>Teacher participates in professional activities to a limited extent when they are convenient.</p><p>Teacher accepts, with some reluctance, feedback on teaching performance from both supervisors and colleagues.</p><p>Teacher finds limited ways to contribute to the profession.</p>' where RubricRowID=129
update serubricrow set PL2Descriptor='<p>Teacher is honest in interactions with col- leagues, students, and the public.</p><p>Teacher attempts, though inconsistently, to serve students. Teacher does not knowingly contribute to some students’ being ill served by the school.</p><p>Teacher’s decisions and recommendations are based on limited but genuinely professional considerations.</p><p>Teacher complies minimally with school and district regulations, doing just enough to get by.</p>' where RubricRowID=130

update serubricrow set PL1Descriptor='<p>The classroom culture is characterized by a lack of teacher or student commitment to learning and/or little or no investment of student energy into the task at hand. Hard work is not expected or valued.</p><p>Medium or low expectations for student achievement are the norm, with high expectations for learning reserved for only one or two students.</p>' where RubricRowID=116
update serubricrow set PL1Descriptor='<p>The instructional purpose of the lesson is unclear to students, and the directions and procedures are confusing.</p><p>The teacher’s explanation of the content contains major errors.</p><p>The teacher’s spoken or written language contains errors of grammar or syntax.</p><p>The teacher’s vocabulary is inappropriate, vague, or used incorrectly, leaving students confused.</p>' where RubricRowID=120
update serubricrow set PL1Descriptor='<p>The learning tasks and activities, materials, resources, instructional groups and technology are poorly aligned with the instructional outcomes or require only rote responses.</p><p>The pace of the lesson is too slow or too rushed.</p><p>Few students are intellectually engaged or interested.</p>' where RubricRowID=122
update serubricrow set PL1Descriptor='<p>Teacher’s questions are of low cognitive challenge, require single correct responses, and are asked in rapid succession.</p><p>Interaction between teacher and students is predominantly recitation style, with the teacher mediating all questions and answers.</p><p>A few students dominate the discussion.</p>' where RubricRowID=121
update serubricrow set PL1Descriptor='<p>Teacher does not know whether a lesson was effective or achieved its instructional outcomes, or he/she profoundly misjudges the success of a lesson.</p><p>Teacher has no suggestions for how a lesson could be improved.</p>' where RubricRowID=125
update serubricrow set PL1Descriptor='<p>Teacher demonstrates little or no understanding of how students learn and little knowledge of students’ backgrounds, cultures, skills, language proficiency, interests, and special needs and does not seek such understanding.</p>' where RubricRowID=110
update serubricrow set PL1Descriptor='<p>Teacher adheres to the instruction plan in spite of evidence of poor student understanding or lack of interest.</p><p>Teacher ignores student questions; when students experience difficulty, the teacher blames the students or their home environment.</p>' where RubricRowID=124
update serubricrow set PL1Descriptor='<p>Does not establish student growth goal(s) or establishes inappropriate goal(s) for subgroups of students not reaching full learning potential.  Goal(s) do not identify multiple, high-quality sources of data to monitor, adjust, and evaluate achievement of goal(s).</p>' where RubricRowID=131
update serubricrow set PL1Descriptor='<p>Growth or achievement data from at least two points in time shows no evidence of growth for most students.</p>' where RubricRowID=132

update serubricrow set PL1Descriptor='<p>Outcomes represent low expectations for students and lack of rigor, and not all of them reflect important learning in the discipline.</p><p>Outcomes are stated as activities rather than as student learning.</p><p>Outcomes reflect only one type of learning and only one discipline or strand and are suitable for only some students.</p>' where RubricRowID=111
update serubricrow set PL1Descriptor='<p>Teacher is unaware of school or district resources for classroom use, for the expansion of his or her own knowledge, or for students.</p>' where RubricRowID=112
update serubricrow set PL1Descriptor='<p>The series of learning experiences is poorly aligned with the instructional outcomes and does not represent a coherent structure.</p><p>The activities are not designed to engage students in active intellectual activity and have unrealistic time allocations. Instructional groups do not support the instructional outcomes and offer no variety.</p>' where RubricRowID=113
update serubricrow set PL1Descriptor='<p>Patterns of classroom interactions, both between the teacher and students and among students, are mostly negative, inappropriate, or insensitive to students’ ages, cultural backgrounds, and developmental levels. Interactions are characterized by sarcasm, put-downs, or conflict.</p><p>Teacher does not deal with disrespectful behavior.</p>' where RubricRowID=115
update serubricrow set PL1Descriptor='<p>Much instructional time is lost through inefficient classroom routines and procedures.</p><p>There is little or no evidence that the teacher is managing instructional groups, transitions, and/or the handling of materials and supplies effectively.</p><p>There is little evidence that students know or follow established routines.</p>' where RubricRowID=117
update serubricrow set PL1Descriptor='<p>There appear to be no established standards of conduct and little or no teacher monitoring of student behavior.</p><p>Students challenge the standards of conduct.</p><p>Response to students’ misbehavior is repressive or disrespectful of student dignity.</p>' where RubricRowID=118
update serubricrow set PL1Descriptor='<p>The physical environment is unsafe, or many students don’t have access to learning resources.</p><p>There is poor coordination between the lesson activities and the arrangement of furniture and resources, including computer technology.</p>' where RubricRowID=119
update serubricrow set PL1Descriptor='<p>Assessment procedures are not congruent with instructional outcomes; the proposed approach contains no criteria or standards.</p><p>Teacher has no plan to incorporate formative assessment in the lesson or unit nor any plan to use assessment results in designing future instruction.</p>' where RubricRowID=114
update serubricrow set PL1Descriptor='<p>There is little or no assessment or monitoring of student learning; feedback is absent or of poor quality.</p><p>Students do not appear to be aware of the assessment criteria and do not engage in self-assessment.</p>' where RubricRowID=123
update serubricrow set PL1Descriptor='<p>Teacher’s system for maintaining information on student completion of assignments and student progress in learning is nonexistent or in disarray.</p><p>Teacher’s records for noninstructional activities are in disarray, resulting in errors and confusion.</p>' where RubricRowID=126
update serubricrow set PL1Descriptor='<p>Does not establish student growth goal(s) or establishes inappropriate goal(s) for whole classroom.  Goal(s) do not identify multiple, high-quality sources of data to monitor, adjust, and evaluate achievement of goal(s).</p>' where RubricRowID=133
update serubricrow set PL1Descriptor='<p>Growth or achievement data from at least two points in time shows no evidence of growth for most students.</p>' where RubricRowID=134
update serubricrow set PL1Descriptor='<p>Teacher communication with families— about the instructional program, about individual students—is sporadic or culturally inappropriate.</p><p>Teacher makes no attempt to engage families in the instructional program.</p>' where RubricRowID=127
update serubricrow set PL1Descriptor='<p>Teacher’s relationships with colleagues are negative or self-serving.</p><p>Teacher avoids participation in a professional culture of inquiry, resisting opportunities to become involved.</p><p>Teacher avoids becoming involved in school events or school and district projects.</p>' where RubricRowID=128
update serubricrow set PL1Descriptor='<p>Teacher engages in no professional development activities to enhance knowledge or skill.</p><p>Teacher resists feedback on teaching performance from either supervisors or more experienced colleagues.</p><p>Teacher makes no effort to share knowledge with others or to assume professional responsibilities.</p>' where RubricRowID=129
update serubricrow set PL1Descriptor='<p>Teacher displays dishonesty in interactions with colleagues, students, and the public.</p><p>Teacher is not alert to students’ needs and contributes to school practices that result in some students’ being ill served by the school.</p><p>Teacher makes decisions and recommendations based on self-serving interests. Teacher does not comply with school and district regulations.</p>' where RubricRowID=130
update serubricrow set PL1Descriptor='<p>Does not collaborate or reluctantly collaborates with other grade, school, or district team members to establish goal(s), to develop and implement common, high-quality measures, and to monitor growth and achievement during the year.</p>' where RubricRowID=135

update serubricrow set PL1Descriptor='<p>Teacher demonstrates little or no understanding of how students learn and little knowledge of students’ backgrounds, cultures, skills, language proficiency, interests, and special needs and does not seek such understanding.</p>' where RubricRowID=110
update serubricrow set PL1Descriptor='<p>Outcomes represent low expectations for students and lack of rigor, and not all of them reflect important learning in the discipline.</p><p>Outcomes are stated as activities rather than as student learning.</p><p>Outcomes reflect only one type of learning and only one discipline or strand and are suitable for only some students.</p>' where RubricRowID=111
update serubricrow set PL1Descriptor='<p>Teacher is unaware of school or district resources for classroom use, for the expansion of his or her own knowledge, or for students.</p>' where RubricRowID=112
update serubricrow set PL1Descriptor='<p>The series of learning experiences is poorly aligned with the instructional outcomes and does not represent a coherent structure.</p><p>The activities are not designed to engage students in active intellectual activity and have unrealistic time allocations. Instructional groups do not support the instructional outcomes and offer no variety.</p>' where RubricRowID=113
update serubricrow set PL1Descriptor='<p>Assessment procedures are not congruent with instructional outcomes; the proposed approach contains no criteria or standards.</p><p>Teacher has no plan to incorporate formative assessment in the lesson or unit nor any plan to use assessment results in designing future instruction.</p>' where RubricRowID=114
update serubricrow set PL1Descriptor='<p>Patterns of classroom interactions, both between the teacher and students and among students, are mostly negative, inappropriate, or insensitive to students’ ages, cultural backgrounds, and developmental levels. Interactions are characterized by sarcasm, put-downs, or conflict.</p><p>Teacher does not deal with disrespectful behavior.</p>' where RubricRowID=115
update serubricrow set PL1Descriptor='<p>The classroom culture is characterized by a lack of teacher or student commitment to learning and/or little or no investment of student energy into the task at hand. Hard work is not expected or valued.</p><p>Medium or low expectations for student achievement are the norm, with high expectations for learning reserved for only one or two students.</p>' where RubricRowID=116
update serubricrow set PL1Descriptor='<p>Much instructional time is lost through inefficient classroom routines and procedures.</p><p>There is little or no evidence that the teacher is managing instructional groups, transitions, and/or the handling of materials and supplies effectively.</p><p>There is little evidence that students know or follow established routines.</p>' where RubricRowID=117
update serubricrow set PL1Descriptor='<p>There appear to be no established standards of conduct and little or no teacher monitoring of student behavior.</p><p>Students challenge the standards of conduct.</p><p>Response to students’ misbehavior is repressive or disrespectful of student dignity.</p>' where RubricRowID=118
update serubricrow set PL1Descriptor='<p>The physical environment is unsafe, or many students don’t have access to learning resources.</p><p>There is poor coordination between the lesson activities and the arrangement of furniture and resources, including computer technology.</p>' where RubricRowID=119
update serubricrow set PL1Descriptor='<p>The instructional purpose of the lesson is unclear to students, and the directions and procedures are confusing.</p><p>The teacher’s explanation of the content contains major errors.</p><p>The teacher’s spoken or written language contains errors of grammar or syntax.</p><p>The teacher’s vocabulary is inappropriate, vague, or used incorrectly, leaving students confused.</p>' where RubricRowID=120
update serubricrow set PL1Descriptor='<p>Teacher’s questions are of low cognitive challenge, require single correct responses, and are asked in rapid succession.</p><p>Interaction between teacher and students is predominantly recitation style, with the teacher mediating all questions and answers.</p><p>A few students dominate the discussion.</p>' where RubricRowID=121
update serubricrow set PL1Descriptor='<p>The learning tasks and activities, materials, resources, instructional groups and technology are poorly aligned with the instructional outcomes or require only rote responses.</p><p>The pace of the lesson is too slow or too rushed.</p><p>Few students are intellectually engaged or interested.</p>' where RubricRowID=122
update serubricrow set PL1Descriptor='<p>There is little or no assessment or monitoring of student learning; feedback is absent or of poor quality.</p><p>Students do not appear to be aware of the assessment criteria and do not engage in self-assessment.</p>' where RubricRowID=123
update serubricrow set PL1Descriptor='<p>Teacher adheres to the instruction plan in spite of evidence of poor student understanding or lack of interest.</p><p>Teacher ignores student questions; when students experience difficulty, the teacher blames the students or their home environment.</p>' where RubricRowID=124
update serubricrow set PL1Descriptor='<p>Teacher does not know whether a lesson was effective or achieved its instructional outcomes, or he/she profoundly misjudges the success of a lesson.</p><p>Teacher has no suggestions for how a lesson could be improved.</p>' where RubricRowID=125
update serubricrow set PL1Descriptor='<p>Teacher’s system for maintaining information on student completion of assignments and student progress in learning is nonexistent or in disarray.</p><p>Teacher’s records for noninstructional activities are in disarray, resulting in errors and confusion.</p>' where RubricRowID=126
update serubricrow set PL1Descriptor='<p>Teacher communication with families— about the instructional program, about individual students—is sporadic or culturally inappropriate.</p><p>Teacher makes no attempt to engage families in the instructional program.</p>' where RubricRowID=127
update serubricrow set PL1Descriptor='<p>Teacher’s relationships with colleagues are negative or self-serving.</p><p>Teacher avoids participation in a professional culture of inquiry, resisting opportunities to become involved.</p><p>Teacher avoids becoming involved in school events or school and district projects.</p>' where RubricRowID=128
update serubricrow set PL1Descriptor='<p>Teacher engages in no professional development activities to enhance knowledge or skill.</p><p>Teacher resists feedback on teaching performance from either supervisors or more experienced colleagues.</p><p>Teacher makes no effort to share knowledge with others or to assume professional responsibilities.</p>' where RubricRowID=129
update serubricrow set PL1Descriptor='<p>Teacher displays dishonesty in interactions with colleagues, students, and the public.</p><p>Teacher is not alert to students’ needs and contributes to school practices that result in some students’ being ill served by the school.</p><p>Teacher makes decisions and recommendations based on self-serving interests. Teacher does not comply with school and district regulations.</p>' where RubricRowID=130

/***** ^^^^                  ^^^^^^ ************************************************/
/***** ||||  UPDATE CONTENT  ||||||*************************************************/
/***********************************************************************************/
-------------------
-- Handle errors --
-------------------
ErrorHandler:
IF (@sql_error <> 0)
   BEGIN
      IF (@tran_count = 0) AND (@@TRANCOUNT <> 0)
         BEGIN
            ROLLBACK TRANSACTION
         END


	  SELECT @sql_error_message = Convert(varchar(20), @sql_error) 
		+ 'Patch Error!!!>>>' + ISNULL(@sql_error_message, '')

      RAISERROR(@sql_error_message, 15, 10)
   END

----------------------
-- End of Procedure --
----------------------
ProcEnd:

IF (@tran_count = 0) AND (@@TRANCOUNT = 1)
   BEGIN
     COMMIT TRANSACTION
   END


