
/***********************************************************************************/
DECLARE @sql_error INT,@tran_count INT,@sql_error_message NVARCHAR(500), @prevVersion bigint
DECLARE @BugFixed bigint, @title varchar(100), @comment varchar(400), @ahora dateTime
SELECT  @ahora = GETDATE(), @sql_error= 0,@tran_count = @@TRANCOUNT 
IF @tran_count = 0
   BEGIN TRANSACTION
/***********************************************************************************/
/* ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** */
select @bugFixed = 44067687
, @title = '44067687_N_Mason_bmarprIfw.SQL'
, @comment = ''
/* ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** */
/***********************************************************************************/
/*  Notes...
	a) update the @bugFixed, title and comment variables above
	b) update the body of the patch, (below) checking for errors to roll back if necessary
	c) in the case of a schema update, you must also check the existence of the change,
        as schema changes should also have been made in SchemaCreate.  This way, you
        can still run the patch (to update the version log), but the change won't be
        made again.
*/
if EXISTS (select bugNumber from dbo.updateLog WHERE bugNumber = @bugFixed) 
BEGIN
	SELECT @sql_error_message = 'Error: fix for bugNumber #' + Convert(varchar(20), @bugFixed) + ' has already been applied'
    GOTO ProcEnd
END

INSERT dbo.UpdateLog (bugNumber, UpdateName, TimeStamp, comment) values (@bugFixed, @title, @ahora, @comment)
SELECT @sql_error = @@ERROR
IF @sql_error <> 0
   BEGIN
	  SELECT @sql_error_message = 'insert log entry failed' 

	  GOTO ErrorHandler
   END

/***********************************************************************************/
/***** ||||  UPDATE CONTENT  ||||||*************************************************/
/***** VVVV                  VVVVVV ************************************************/


DECLARE @bMarPrState BIGINT
SELECT @bMarPrState   = frameworkID FROM seframework WHERE name LIKE 'north ma%' AND DerivedFromFrameworkName = 'Mar, Prin StateView'

IF @bMarPrState IS NOT null
BEGIN



	DECLARE @MarPrIfw bigint
	INSERT seFramework 
	(Name, description,DistrictCode, SchoolYear, FrameworkTypeID,IFWTypeID, IsProtoTYpe, HasBeenModified, HasBeenApproved) values
	('north Mason School District-PInstructional', '', '23403', 2013, 4, 2, 1, 0, 1)
	SELECT @marPrIFW = SCOPE_IDENTITY()

	DECLARE @d1 bigint insert SeFrameworkNode(frameworkID, IsStateFramework, title, shortname, description, sequence, isLeafNode) values (@MarPrIFW,0, 'Domain I: A Data-Driven Focus on Student Achievement', 'I',  '', 1,1)  select @d1 = scope_identity()
	DECLARE @d2 bigint insert SeFrameworkNode(frameworkID, IsStateFramework, title, shortname, description, sequence, isLeafNode) values (@MarPrIFW,0, 'Domain II: Continuous Improvement of Instruction'    , 'II', '', 2,1)  select @d2 = scope_identity()
	DECLARE @d3 bigint insert SeFrameworkNode(frameworkID, IsStateFramework, title, shortname, description, sequence, isLeafNode) values (@MarPrIFW,0, 'Domain III: A Guaranteed and Viable Curriculum'      , 'III','', 3,1)  select @d3 = scope_identity()
	DECLARE @d4 bigint insert SeFrameworkNode(frameworkID, IsStateFramework, title, shortname, description, sequence, isLeafNode) values (@MarPrIFW,0, 'Domain IV: Cooperation and Collaboration'            , 'IV', '', 4,1)  select @d4 = scope_identity()
	DECLARE @d5 bigint insert SeFrameworkNode(frameworkID, IsStateFramework, title, shortname, description, sequence, isLeafNode) values (@MarPrIFW,0, 'Domain V: School Climate'                            , 'V',  '', 5,1)  select @d5 = scope_identity()

	INSERT dbo.SERubricRowFrameworkNode( FrameworkNodeID , RubricRowID , Sequence) SELECT @d1, rubricRowID, CONVERT(INT, SUBSTRING(title, 4, 1)) FROM dbo.SERubricRow WHERE belongsToDistrict = '23403' AND title LIKE 'i %'ORDER BY title
	INSERT dbo.SERubricRowFrameworkNode( FrameworkNodeID , RubricRowID , Sequence) SELECT @d2, rubricRowID, CONVERT(INT, SUBSTRING(title, 5, 1)) FROM dbo.SERubricRow WHERE belongsToDistrict = '23403' AND title LIKE 'iI %'ORDER BY title
	INSERT dbo.SERubricRowFrameworkNode( FrameworkNodeID , RubricRowID , Sequence) SELECT @d3, rubricRowID, CONVERT(INT, SUBSTRING(title, 6, 1)) FROM dbo.SERubricRow WHERE belongsToDistrict = '23403' AND title LIKE 'iII %'ORDER BY title
	INSERT dbo.SERubricRowFrameworkNode( FrameworkNodeID , RubricRowID , Sequence) SELECT @d4, rubricRowID, CONVERT(INT, SUBSTRING(title, 5, 1)) FROM dbo.SERubricRow WHERE belongsToDistrict = '23403' AND title LIKE 'iv %'ORDER BY title
	INSERT dbo.SERubricRowFrameworkNode( FrameworkNodeID , RubricRowID , Sequence) SELECT @d5, rubricRowID, CONVERT(INT, SUBSTRING(title, 4, 1)) FROM dbo.SERubricRow WHERE belongsToDistrict = '23403' AND title LIKE 'v %'ORDER BY title

	insert seFrameworkPerformanceLevel(frameworkID, performanceLevelID, shortname, fullname, description)
	SELECT @marPrIFw, PerformanceLevelID, Shortname, FullName, Description 
	FROM dbo.SEFrameworkPerformanceLevel WHERE frameworkid = @bMarPrState




	INSERT seRubricRow (title, description, PL1Descriptor,PL2Descriptor, PL3Descriptor,PL4Descriptor ,isStateAligned, BelongsToDistrict, IsStudentGrowthAligned)
	SELECT rr.title, rr.description, PL1Descriptor,PL2Descriptor, PL3Descriptor,PL4Descriptor, isStateAligned, '23403', IsStudentGrowthAligned
	FROM serubricrow rr
	JOIN dbo.SERubricRowFrameworkNode rrfn ON rr.RubricRowID = rrfn.RubricRowID
	JOIN dbo.SEFrameworknode fn ON fn.FrameworkNodeID= rrfn.FrameworkNodeID
	WHERE rr.rubricrowid IN (14646,14651,14662) 
	AND( rr.title LIKE '3.4 Assists staff to %'
	OR rr.title LIKE'5.2 Assists staff in %' 
	OR rr.title LIKE'8.3 Provides evidence %')

	DECLARE @fn3 BIGINT, @fn5 BIGINT, @fn8 BIGINT, @rr3 BIGINT, @rr5 BIGINT, @rr8 bigint

	select @fn3  =frameworkNodeID from seFrameworkNode where shortname = 'C3' and FrameworkId = @bMarPrState
	select @fn5  =frameworkNodeID from seFrameworkNode where shortname = 'C5' and FrameworkId = @bMarPrState
	select @fn8  =frameworkNodeID from seFrameworkNode where shortname = 'C8' and FrameworkId = @bMarPrState

	SELECT @rr3 = rubricrowid   FROM serubricrow WHERE BelongsToDistrict = '23403' AND title LIKE '3.4%'
	SELECT @rr5 = rubricrowid   FROM serubricrow WHERE BelongsToDistrict = '23403' AND title LIKE '5.2%'
	SELECT @rr8 = rubricrowid   FROM serubricrow WHERE BelongsToDistrict = '23403' AND title LIKE '8.3%'
	                                
	insert seRubricRowFrameworkNode(frameworkNodeID, rubricRowID, sequence) values (@fn3 , @rr3   , 6 )
	insert seRubricRowFrameworkNode(frameworkNodeID, rubricRowID, sequence) values (@fn5 , @rr5   , 6 )
	insert seRubricRowFrameworkNode(frameworkNodeID, rubricRowID, sequence) values (@fn8 , @rr8   , 6 )
	
	
	UPDATE sedistrictconfiguration SET frameworkviewtypeid=2 WHERE districtcode = '23403' AND schoolyear = 2013 AND EvaluationTypeID = 1


end
/***** ^^^^                  ^^^^^^ ************************************************/
/***** ||||  UPDATE CONTENT  ||||||*************************************************/
/***********************************************************************************/
-------------------
-- Handle errors --
-------------------
ErrorHandler:
IF (@sql_error <> 0)
   BEGIN
      IF (@tran_count = 0) AND (@@TRANCOUNT <> 0)
         BEGIN
            ROLLBACK TRANSACTION
         END


	  SELECT @sql_error_message = Convert(varchar(20), @sql_error) 
		+ 'Patch Error!!!>>>' + ISNULL(@sql_error_message, '')

      RAISERROR(@sql_error_message, 15, 10)
   END

----------------------
-- End of Procedure --
----------------------
ProcEnd:

IF (@tran_count = 0) AND (@@TRANCOUNT = 1)
   BEGIN
     COMMIT TRANSACTION
   END


