
/***********************************************************************************/
DECLARE @sql_error INT,@tran_count INT,@sql_error_message NVARCHAR(500), @prevVersion bigint
DECLARE @BugFixed bigint, @title varchar(100), @comment varchar(400), @ahora dateTime
SELECT  @ahora = GETDATE(), @sql_error= 0,@tran_count = @@TRANCOUNT 
IF @tran_count = 0
   BEGIN TRANSACTION
/***********************************************************************************/
/* ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** */
select @bugFixed = 66740308
, @title = 'New Resources section - Instance'
, @comment = ''
/* ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** ***UPDATE ME*** */
/***********************************************************************************/
/*  Notes...
	a) update the @bugFixed, title and comment variables above
	b) update the body of the patch, (below) checking for errors to roll back if necessary
	c) in the case of a schema update, you must also check the existence of the change,
        as schema changes should also have been made in SchemaCreate.  This way, you
        can still run the patch (to update the version log), but the change won't be
        made again.
*/
if EXISTS (select bugNumber from dbo.updateLog WHERE bugNumber = @bugFixed) 
BEGIN
	SELECT @sql_error_message = 'Error: fix for bugNumber #' + Convert(varchar(20), @bugFixed) + ' has already been applied'
    GOTO ProcEnd
END

INSERT dbo.UpdateLog (bugNumber, UpdateName, TimeStamp, comment) values (@bugFixed, @title, @ahora, @comment)
SELECT @sql_error = @@ERROR
IF @sql_error <> 0
   BEGIN
	  SELECT @sql_error_message = 'insert log entry failed' 

	  GOTO ErrorHandler
   END


/***********************************************************************************/
/***** ||||  UPDATE CONTENT  ||||||*************************************************/
/***** VVVV                  VVVVVV ************************************************/

/*
SELECT * FROM dbo.SETrainingProtocol
*/

DECLARE @UserName VARCHAR(100), @AppName VARCHAR(24)
DECLARE @utcDate DATETIME

SELECT @utcDate = getutcdate()

DECLARE @ProtocolID BIGINT

UPDATE SETrainingProtocol SET ImageName='video96.png' WHERE TrainingProtocolID=1
UPDATE SETrainingProtocol SET AvgRating=0

INSERT dbo.SETrainingProtocolRatingStatusType(Name) VALUES('InReview')
INSERT dbo.SETrainingProtocolRatingStatusType(Name) VALUES('Approved')
INSERT dbo.SETrainingProtocolRatingStatusType(Name) VALUES('Inappropriate')
	
INSERT dbo.SETrainingProtocolLabel(Name, TrainingProtocolLabelGroupID) VALUES('Social Studies', 1)
INSERT dbo.SETrainingProtocolLabel(Name, TrainingProtocolLabelGroupID) VALUES('Science', 1)
INSERT dbo.SETrainingProtocolLabel(Name, TrainingProtocolLabelGroupID) VALUES('English/Language Arts', 1)


INSERT dbo.SETrainingProtocolLabelGroup(Name) VALUES('ProvidedBy')

-- ProvidedBy Areas
	
/* Allison King - Grade 4 Social Studies Post Part1 */			
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Intermediate', 'BERC Group')

/* Allison King Grade 4 Social Studies Post Part2 */		
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Intermediate', 'BERC Group')
		
/* Ami McMoran Grade K English Post Part1 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Primary', 'BERC Group')

				
/* Ami McMoran Grade K English Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Primary', 'BERC Group')
		
/* Ami McMoran Grade K English Post Part3 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Primary', 'BERC Group')
	
		
/* Andi Manion Grade 9 English Post Part1 */		
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Secondary', 'BERC Group')

/* Andi Manion Grade 9 English Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Secondary', 'BERC Group')
		
/* Annie Douglas Grade 2 Math Post Part1 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Primary')

	
/* Annie Douglas Grade 2 Math Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Primary', 'BERC Group')

		
/* Beth Conroy Humphrey Grade 3 English Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Intermediate', 'BERC Group')


/* Bonnie Bushaw Grade 5 Math Pre Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')

	
/* Bonnie Bushaw Grade 5 Math Pre Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')

/* Bonnie Bushaw Grade 5 Math Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')
	
/* Bonnie Bushaw Grade 5 Math Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')
	
/* Bonnie Bushaw Grade 5 Math Post Part3 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')


/* Brad Demond Grade 10 English Post Part1 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Secondary', 'BERC Group')
	
/* Brad Demond Grade 10 English Post Part2 Revised */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Secondary', 'BERC Group')

	
/* Brian Wiggins Grade 5 Math Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')
 		
/* Cass Cline Grade 7 Art Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Art', 'Secondary', 'BERC Group')

/* Cass Cline Grade 7 Art Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Art', 'Secondary', 'BERC Group')
		
/* Chris Schlesselman Grade 11 CTE Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('CTE', 'Secondary', 'BERC Group')
		
/* Chris Schlesselman Grade 11 CTE Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('CTE', 'Secondary', 'BERC Group')


/* Craig Johnson Grade 8 Science Pre Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')
		
/* Craig Johnson Grade 8 Science Pre Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')
		
/* Craig Johnson Grade 8 Science Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')
		
/* Craig Johnson Grade 8 Science Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')

/* Dani Flangan Grade 1 Math Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Primary', 'BERC Group')


/* Dani Flangan Grade 1 Math Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Primary', 'BERC Group')

	
/* Darrel Nichols Grade 5 English Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Intermediate', 'BERC Group')
		
/* Darrel Nichols Grade 5 English Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Intermediate', 'BERC Group')
		
/* Darrel Nichols Grade 5 Math Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')

/* Darrel Nichols Grade 5 Math Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')
		
/* Darrel Nichols Grade 5 Math Post Part3 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')
	
/* David Kish Grade 11 Math Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
		
/* Faith Powell Grade K Math Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Primary', 'BERC Group')
	
/* Faith Powell Grade K Math Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Primary', 'BERC Group')
	
/* Heather Fox Grade 9 Social Studies Pre Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Secondary', 'BERC Group')
		
/* Heather Fox Grade 9 Social Studies Pre Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Secondary', 'BERC Group')

/* Heather Fox Grade 9 Social Studies Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Secondary', 'BERC Group')

/* Heather Fox Grade 9 Social Studies Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Secondary', 'BERC Group')

/* Heather Fox Grade 9 Social Studies Post Part3 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Secondary', 'BERC Group')

/* Heather Swenson Grade 3 English Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Intermediate', 'BERC Group')
 		
/* Heather Swenson Grade 3 English Post Part2 Revised*/	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Intermediate', 'BERC Group')

		
/* Janell Doggett Grade 3 English Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Intermediate', 'BERC Group')
		
/* Jill Reinfeld Grade 7 Social Studies Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Secondary', 'BERC Group')

	
/* Jill Reinfeld Grade 7 Social Studies Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Secondary', 'BERC Group')
		
/* Jeannie Joseph Grade 7 English Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Secondary', 'BERC Group')

		
/* Jeannie Joseph Grade 7 English Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Secondary', 'BERC Group')
		
/* Joyce Mihalovich Grade 1 English Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Primary', 'BERC Group')
		
/* Joyce Mihalovich Grade 1 English Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Primary', 'BERC Group')

/* Judy Williams Grade 4 Science Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Intermediate', 'BERC Group')

		
/* Karen Lipp Grade K English Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Primary', 'BERC Group')

/* Karen Lipp Grade K English Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Primary', 'BERC Group')
		
/* Kellie Mays Grade 4 Math Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')

/* Krista Calvin Grade 3 Math Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')
		
/* Krista Calvin Grade 3 Math Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Intermediate', 'BERC Group')

/* Kristin Hera Grade 6 Math Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')


/* Kristin Sheridan Grade 7 Science Pre Part1 v2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')

		
/* Kristin Sheridan Grade 7 Science Pre Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')
	
/* Kyna Williams Grade 6 Math Post Part1 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
	
/* Kyna Williams Grade 6 Math Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
	
		
/* Kyna Williams Grade 6 Math Post Part3 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')


/* Lori England Grade 11 Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Secondary', 'BERC Group')
	
/* Lori England Grade 11 Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Secondary', 'BERC Group')
		
/* Malia Sakamoto Grade 1 English Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Primary', 'BERC Group')

/* Megan Newhouse Grade 9 English Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Secondary', 'BERC Group')

/* Michelle Fujie Grade 8 Math Post Part1 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
		
/* Michelle Fujie Grade 8 Math Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
	
/* Nate Rozema Grade 6 English Post Part1 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Secondary', 'BERC Group')
	
/* Nick Fletcher Grade 7 Math Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
	
/* Pamelia Valentine Grade 9 Art Post Part1 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Art', 'Secondary', 'BERC Group')
		
/* Pamelia Valentine Grade 9 Art Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Art', 'Secondary', 'BERC Group')

/* Richard Salboro Grade 11 Science Post Part1a */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')
		

/* Russ Hermann Grade 11 CTE Part1 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('CTE', 'Secondary', 'BERC Group')


/* Russ Hermann Grade 11 CTE Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('CTE', 'Secondary', 'BERC Group')

	
/* Ryan Grant Grade 1 Social Studies Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Primary', 'BERC Group')
	
/* Ryan Grant Grade 1 Social Studies Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Primary', 'BERC Group')

	
/* Sandi Speedy Grade 4 Social Studies Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Intermediate', 'BERC Group')

/* Shelly Nagle Grade 10 Science Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')

/* Shelly Nagle Grade 10 Science Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')
	
/* Sherri Rico Grade 4 Social Studies Post Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Social Studies', 'Intermediate', 'BERC Group')

/* Tammy Mendoza Grade 6 Science Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')
		
/* Tammy Mendoza Grade 6 Science Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Science', 'Secondary', 'BERC Group')
		
/* Tania Will Grade K Math Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Primary', 'BERC Group')

/* Tania Will Grade K English Post Part1*/
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Primary', 'BERC Group')
		
		
/* Tania Will Grade K English Post Part3 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('English/Language Arts', 'Primary', 'BERC Group')

/* Tanya Rolfs Grade 1 Math Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Primary', 'BERC Group')
		
/* Tess Kaji Grade 11 Math Pre Part1 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
		
/* Tess Kaji Grade 11 Math Pre Part2 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
 		
/* Tess Kaji Grade 11 Math Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
		
/* Tess Kaji Grade 11 Math Post Part2 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
 		
/* Tracy Dickinson Grade 6 Math Post Part1 */	
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')
	
/* Travis Geving Grade 7 Math Post Part1 */
SELECT @ProtocolID=SCOPE_IDENTITY()
INSERT dbo.SETrainingProtocolLabelAssignment(TrainingProtocolID, TrainingProtocolLabelID)
SELECT @ProtocolID,
       lb.TrainingProtocolLabelID
  FROM dbo.SETrainingProtocolLabel lb
 WHERE lb.Name in ('Math', 'Secondary', 'BERC Group')


/* Set all the old ones */
UPDATE dbo.SETrainingProtocol SET IncludeInPublicSite=1, IncludeInVideoLibrary=1 WHERE TrainingProtocolID<5
/* Set all the new ones */
UPDATE dbo.SETrainingProtocol SET IncludeInPublicSite=0, IncludeInVideoLibrary=1 WHERE TrainingProtocolID>4
	

/***** ^^^^                  ^^^^^^ ************************************************/
/***** ||||  UPDATE CONTENT  ||||||*************************************************/
/***********************************************************************************/
-------------------
-- Handle errors --
-------------------
ErrorHandler:
IF (@sql_error <> 0)
   BEGIN
      IF (@tran_count = 0) AND (@@TRANCOUNT <> 0)
         BEGIN
            ROLLBACK TRANSACTION
         END


	  SELECT @sql_error_message = Convert(varchar(20), @sql_error) 
		+ 'Patch Error!!!>>>' + ISNULL(@sql_error_message, '')

      RAISERROR(@sql_error_message, 15, 10)
   END

----------------------
-- End of Procedure --
----------------------
ProcEnd:

IF (@tran_count = 0) AND (@@TRANCOUNT = 1)
   BEGIN
     COMMIT TRANSACTION
   END


