
<div class="">
    <div class="row">
        <div class="col-lg-3">
            <label class="align-artifact-heading">Align to Rubric</label>
        </div>
        <div class="col-lg-9">
            <div class="btn-toolbar pull-right">
                <button ng-click="vm.clear()" class="btn btn-default btn-sm hide-when-read-only">Clear</button>
                <button ng-click="vm.toggleEditMode()" class="btn btn-primary btn-sm  hide-when-read-only">
                    {{vm.editModeBtnText }}
                </button>
            </div>
        </div>
    </div>
    <div ng-show="!vm.editMode">
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="30%">Rubric Alignment</th>
                    <th  ng-repeat="observation in vm.artifact.linkedObservations">{{observation.title}}</th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat-start="frameworkNode in vm.framework.frameworkNodes"class="aligned-fn-ro" ng-show="vm.frameworkNodeIsAligned(frameworkNode)">
                    <td width="35%">{{frameworkNode.shortName}} {{frameworkNode.title}}</td>
                    <td></td>
                </tr>
                <tr ng-repeat-end ng-repeat="rubricRow in frameworkNode.rubricRows" ng-show="vm.rubricRowIsAligned(rubricRow)">
                    <td width="35%">
                        {{rubricRow.title}}
                    </td>
                    <td  ng-repeat="observation in vm.artifact.linkedObservations">
                        <div>
                            <input type="checkbox" data-checklist-model="vm.rows" data-checklist-value="rubricRow"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="vm.editMode">
        <br />
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="20px"></th>
                <th width="30%">Rubric Alignment</th>
                <th>Available to Evidence Collections</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat-start="frameworkNode in vm.framework.frameworkNodes"class="aligned-fn-ro">
                <td width="20px"></td>
                <td width="35%">{{frameworkNode.shortName}} {{frameworkNode.title}}</td>
                <td></td>
            </tr>
            <tr ng-repeat-end ng-repeat="rubricRow in frameworkNode.rubricRows">
                <td width="20px">
                    <input type="checkbox" data-checklist-model="vm.rows" data-checklist-value="rubricRow"/>
                </td>
                <td width="35%">
                    {{rubricRow.title}}
                </td>
                <td>
                    <div ng-repeat="observation in vm.artifact.linkedObservations">
                        {{observation.title}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>