
<div class="well">
<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <p>You may add multiple items, but keep in mind that an Artifact eventually aligns to a rubric component. If you
                    include multiple items they must be related.</p>
                <button class="btn btn-xs btn-primary" ng-click="vm.createItem(vm.enums.ArtifactLibItemType.FILE)">Upload File</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.createItem(vm.enums.ArtifactLibItemType.WEB)">Link to Website URL</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.createItem(vm.enums.ArtifactLibItemType.PROFPRACTICE)">Professional Practice</button>
            </div>
        </div>
    </div>
</div>
<br/>
<div ng-show="vm.artifact.libItems.length>0">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <tbody>
                <tr ng-repeat="item in vm.artifact.libItems">
                    <td>{{vm.itemTypeToString(item.itemType)}}</td>
                    <td>{{vm.itemDisplayName(item)}}</td>
                    <td></td>
                    <td align="right">
                        <button class="btn btn-outline btn-default btn-xs"
                                ng-click="vm.editItem(item)">
                            Edit
                        </button>
                        <button class="btn btn-outline btn-default btn-xs"
                                ng-click="vm.viewItem(item)">
                            View
                        </button>
                        <button class="btn btn-outline btn-default btn-xs" confirm="Are you sure you want to remove this item?"
                                ng-click="vm.removeItem(item)">
                            Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

</div>
