<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <button ng-click="vm.editArtifact()" class="btn btn-primary btn-xs" type="button">
                <i class="fa fa-plus-circle"></i>&nbsp;Add Artifact
            </button>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.privateArtifacts.length===0">
    <div class="col-lg-12">
        <nothing-here title="'Nothing here'" description="'Click the Add Artifact button to create a new artifact.'"></nothing-here>
    </div>
</div>
<div class="row" ng-if="vm.privateArtifacts.length>0">
    <div class="col-lg-12">
        <table class="table">
            <thead>
            <tr>
 <!--               <th></th>
 -->
                <th>General Information</th>
                <th>Alignment</th>
                <th>Items</th>
                <th></th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="artifact in vm.privateArtifacts">
  <!--              <td><a class='expand' href="#" ng-click="isCollapsed = !isCollapsed">
                    <span ng-class="{'fa fa-plus': !isCollapsed, 'fa fa-minus': isCollapsed}"></span></a>
                </td>-->
                <td>
                    {{artifact.title}}<br/>
                    Created&nbsp;<i>{{artifact.creationDateTime | date }}</i>
                 </td>
                <td>{{vm.artifactAlignment(artifact)}}</td>
                <td>{{artifact.libItems.length}}</td>
                <td align="right">
                    <button class="btn btn-xs btn-default btn-outline"
                            confirm="Are you sure you want to delete this artifact?"
                            ng-click="vm.deleteArtifact(artifact)">Delete</button>
                    <button ng-click="vm.editArtifact(artifact)" class="btn btn-xs btn-default btn-outline">Edit</button>

                </td>
                <td>
                    <button ng-click="vm.submitArtifact(artifact)"class="btn btn-xs btn-primary">Submit as Evidence</button>
                </td>
            </tr>
           <!-- <tr collapse="!isCollapsed" ng-repeat-end>
                <td colspan="9">
                    <artifact-libitems artifact="artifact"/>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>
</div>
