<div class="row" ng-if="vm.submittedArtifacts.length===0">
    <div class="col-lg-12">
        <nothing-here title="'Nothing here'" description="'Private artifact(s) that have been submitted will appear here.'"></nothing-here>
    </div>
</div>
<div class="row" ng-if="vm.submittedArtifacts.length>0">
    <div class="col-lg-12">

        <div class="row">
            <div class="col-lg-12">
                <coverage-table items="vm.submittedArtifacts"></coverage-table>
            </div>
        </div>
    </div>
</div>