<!--This is the right information panel-->
<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h5>Artifact Page Information</h5>
    </div>
    <div class="ibox-content">
        <div>
            <p>An artifact is an item proving a desired instructional activity or a description of a non-observable, yet
                a desirable professional practice.</p>

            <p>The artifact page gives you space to collect your artifacts during the school year. Artifacts you've
                uploaded or collected
                through your smartphone would appear here.</p>

            <p>This is an organization stage. When you click the <span
                    style="color:#1ab394;font-weight:bold; !important">"Evidence" button</span> you'll be guided through
                the process of making an Artifact into a compliant Evidence item. </p>

            <h5>A few points to keep in mind:</h5>
            <ul>
                <li>You don't have to submit every Artifact you have collected.</li>
                <li>Artifacts you have collected here are private until you submit them as Evidence.</li>
                <li>At the end of the year, all artifacts that are not submitted as Evidence will be deleted.</li>
            </ul>
        </div>

    </div>
</div>
