<div class="row">
    <div class="col-lg-12">

        <dl class="dl-horizontal">

            <dt>Title:</dt> <dd>{{vm.artifact.title}}</dd>
            <dt>Date:</dt> <dd>{{vm.artifact.creationDateTime | date }}</dd>
            <dt>Created By:</dt> <dd> {{vm.artifact.createdByDisplayName}} ( {{ vm.source }} )</dd>
        </dl>
        <div>
            <dl class="dl-horizontal">

                <dt ng-if="vm.artifact.evidence">Alignment rationale:</dt> <dd>{{vm.artifact.evidence}}</dd>
                <dt ng-if="vm.artifact.libItems.length>0">Attached Item(s):</dt>
                    <dd ng-repeat="item in vm.artifact.libItems">
                        <div ng-if="item.itemType===vm.enums.ArtifactLibItemType.PROFPRACTICE">
                            Professional Practice: <p ng-bind-html="vm.getSafeHtml(item.profPracticeNotes)"></p>
                        </div>
                        <div ng-show="item.itemType!==vm.enums.ArtifactLibItemType.PROFPRACTICE">
                            {{vm.itemTypeToString(item.itemType)}}: <a ng-click="vm.viewItem(item)">{{vm.itemDisplayName(item)}}</a>
                        </div>
                    </dd>
            </dl>
        </div>
    </div>
</div>
