<div  class="align-artifact-wrapper" ng-show="vm.showHeader!=null">

    <div class="row">
        <div class="col-lg-12">
            <label class="align-artifact-heading">Attached Items</label>
        </div>
    </div>
</div>
<table class="table align-artifact">
    <tbody ng-repeat="libItem in vm.artifact.libItems" >
    <tr class="aligned-rr-ro"  >
        <td>
            {{vm.itemTypeToString(libItem.itemType)}}
        <td>
        <td>
        <a ng-click="vm.view(libItem)">{{libItem.title}}</a>
        </td>
    </tr>
    </tbody>
</table>