
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">eVAL</h1>
        </div>
        <h3>Welcome to eVAL</h3>
        <form class="m-t" role="form">
            <div class="form-group">
                <select class="form-control" ng-model="vm.district" ng-change="vm.changeDistrict()">
                    <option value="ntps">Danielson SD</option>
                    <option value="conway">Mazano SD</option>
                    <option value="chehalis">CEL SD</option>
                    <option value="multi">Users in Multiple Locations</option>
                </select>
                <br/>
                 <select class="form-control" ng-if="vm.district==='ntps'" ng-model="vm.username" >
                     <option ng-repeat="username in vm.norththurston_usernames" ng-value="username">{{username}}</option>
                 </select>
                <select class="form-control" ng-if="vm.district==='conway'" ng-model="vm.username" >
                    <option ng-repeat="username in vm.conway_usernames" ng-value="username">{{username}}</option>
                </select>
                <select class="form-control" ng-if="vm.district==='chehalis'" ng-model="vm.username"  >
                    <option ng-repeat="username in vm.chehalis_usernames" ng-value="username">{{username}}</option>
                </select>
                <select class="form-control" ng-if="vm.district==='multi'" ng-model="vm.username"  >
                    <option ng-repeat="username in vm.multi_usernames" ng-value="username">{{username}}</option>
                </select>
            </div>
            <button id="loginButton" ng-click="vm.login()" class="btn btn-primary block full-width m-b">Login</button>
            </form>
    </div>
</div>