
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">eVAL</h1>
        </div>
        <h3>Welcome to eVAL</h3>
        <form class="m-t" role="form">
            <div class="form-group">
                <select class="form-control" ng-model="vm.username" >
                    <option value="North Thurston High School AD">North Thurston High School AD</option>
                    <option value="North Thurston High School PRH">North Thurston High School PRH</option>
                    <option value="North Thurston High School PR1">North Thurston High School PR1</option>
                    <option value="North Thurston High School PR2">North Thurston High School PR2</option>
                    <option value="North Thurston High School T1">North Thurston High School T1</option>
                    <option value="North Thurston High School T2">North Thurston High School T2</option>
                    <option value="North Thurston High School TMS">North Thurston High School TMS</option>
                    <option value="North Thurston High School PMS">North Thurston High School PMS</option>
                    <option value="North Thurston Public Schools DA">North Thurston Public Schools DA</option>
                    <option value="North Thurston Public Schools DV">North Thurston Public Schools DV</option>
                    <option value="North Thurston Public Schools DE1">North Thurston Public Schools DE1</option>
                    <option value="North Thurston Public Schools DE2">North Thurston Public Schools DE2</option>
                    <option value="North Thurston Public Schools DTE1">North Thurston Public Schools DTE1</option>
                    <option value="North Thurston Public Schools DTE2">North Thurston Public Schools DTE2</option>
                    <option value="North Thurston Public Schools DRM">North Thurston Public Schools DRM</option>
                    <option value="South Bay Elementary AD">South Bay Elementary AD</option>
                    <option value="achinn">Super Admin</option>
                </select>
            </div>
            <button id="loginButton" ng-click="vm.login()" class="btn btn-primary block full-width m-b">Login</button>
            </form>
    </div>
</div>