<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="OutputTrace" value="false" />
    <add key="EntityLookupServiceUserName" value="serviceUser" />
    <add key="EntityLookupServicePassword" value="Cupcakes @re tasty!" />
  </appSettings>
  <connectionStrings>
    <!-- master connection string must use admin user for connection because it will be used to create snapshots of test databases -->
    <!-- for cc.net server it should use integrated authentication -->
    <add name="StateEval.tests.Properties.Settings.masterConnectionString" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="StateEval.tests.Properties.Settings.stateevalConnectionString" connectionString="Data Source=.;Initial Catalog=stateeval;User ID=sa;pwd=mumBleFr@tz" providerName="System.Data.SqlClient" />
    <add name="StateEval.tests.Properties.Settings.StateEval_RepoConnectionString" connectionString="Data Source=.;Initial Catalog=StateEval_Repo;User ID=sa;pwd=mumBleFr@tz" providerName="System.Data.SqlClient" />
    <add name="EvalEntities" connectionString="metadata=res://stateevallib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/DataModels.DatabaseEntities.csdl|res://stateevallib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/DataModels.DatabaseEntities.ssdl|res://stateevallib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/DataModels.DatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=StateEval;uid=hoc;pwd=mumBleFr@tz;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SEDbConnection" connectionString="Data Source=localhost;Initial Catalog=StateEval;User ID=sa;Password=mumBleFr@tz;Pooling=true;Max Pool Size=2000" />
    <add name="SERepoDbConnection" connectionString="data source=localhost;database=StateEval_Repo;User ID=sa;Password=mumBleFr@tz;Pooling=true;Max Pool Size=2000" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="https://services.ospi.k12.wa.us/Organization/OrganizationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrganizationService" contract="OSPIEntityLookupService.IOrganizationService" name="BasicHttpBinding_IOrganizationService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrganizationService">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>