<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Select Focused Evaluation Criteria</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Select Focus Criteria:</label>
        <select class="form-control" ng-model="vm.focusFrameworkNode"  ng-change="vm.changeFocus()"
                ng-options="frameworkNode as frameworkNode.shortName for frameworkNode in vm.frameworkNodes">
        </select>
        <p ng-show="vm.focusSelectionMissing">You must select a focus criteria.</p>

        <div ng-show="vm.showStudentGrowthDropdown">
            <br/>
            <label>Select Student Growth Criteria:</label>
            <select class="form-control" ng-model="vm.sgFocusFrameworkNode"
                    ng-options="frameworkNode as frameworkNode.shortName for frameworkNode in vm.sgFrameworkNodes">
            </select>
            <p ng-show="vm.growthSelectionMissing">You must select a student growth criteria because your primary focus criteria is not a student growth criteria.</p>
        </div>
        <br/>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="vm.save()">Save</button>
</div>
