body {
font-family: 'Open Sans', sans-serif !important;
}
.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; color:#fff; font-size: 20px;}

.home-logo 
{
	background:url(../images/home_logo.png) no-repeat center center;
	height:54px;
	width:100%;
}

#currentSettingsHeader {
    text-align: center;
    font-size: .9em;
}
#currentSettingsHeader .label {
    display: inline;
    float: left;
    font-weight:bold;
}
#currentSettingsHeader .value {
    float: right;
    font-size: .9em;
}

.label
{
    font-weight:bold;
}

.descriptor
{
    font-size:12px;
    padding-top:10px;
}

.descriptor p
{
    padding-top:0px;
    margin-top:0px;
    margin-left:0px !important;
    margin-right:0px !important;
    margin-bottom:10px !important;
    font-size:12px;
}

.scoringElementlink {
    display:block;
    float:left;
    text-align:left;
    color:#f1f1f1;
    font-size:12px;
    height:40px;
    text-decoration:none;
	width:100%;
}

/* -------- Chages by Me------------- */
hr {
border-bottom: solid 1px #ada59a;
}
.km-view-title {
padding:7px 0;
background: #c8d62b; /* Old browsers */
background: -moz-linear-gradient(top, #c8d62b 1%, #8fc53d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#c8d62b), color-stop(100%,#8fc53d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c8d62b 1%,#8fc53d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c8d62b 1%,#8fc53d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c8d62b 1%,#8fc53d 100%); /* IE10+ */
background: linear-gradient(to bottom, #c8d62b 1%,#8fc53d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d62b', endColorstr='#8fc53d',GradientType=0 ); /* IE6-9 */
color:#fff;
}
.trsnpt {
background: transparent !important;
border: none !important; 
box-shadow: none !important;
}

    .trsnpt h2, .trsnpt h3 {
    margin:0px;
    padding:0px;
    }
    .trsnpt h2 {
    color: #8dc53e;
font-weight: normal;
font-size: 26px;
font-size: 1.2em;
    }

    .trsnpt h3 {
     color:#d6df22;
     font-size: 1.2em;
    }
#homeView .km-content {
background:url(../images/home_bg_small.png) no-repeat center bottom #362c22;
background-size:100% auto;

}

.homeli_tr li{
background:transparent !important;
padding:20px 20px;
box-shadow: none !important;
border:none !important;
font-size: 1.2em;
font-weight:normal;
color:#8dc53e;
}
.username, .backbtn, .schoolyear{
color:#fff;
}

#settingsView .km-content, #learningWalksView .km-content, #learningWalkDetailView .km-content, #artifactsView .km-content, #loginView .km-content, #evaluateesView .km-content, #evaluateeDetailView .km-content, #observationDetailView .km-content{
background:url(../images/all_bg.png) no-repeat center bottom #fcfbe7;
}

#loginView li {
background:transparent !important;
border:none;
}
.setBtn1, .setBtn2{
padding: .5em 1.2em !important;
}
.setBtn1 span, .setBtn2 span {
    color:#fff;
    }
.setBtn1{
background: #1f4a5d !important; /* Old browsers */
background: -moz-linear-gradient(top,  #1f4a5d 0%, #112b34 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f4a5d), color-stop(100%,#112b34)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1f4a5d 0%,#112b34 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1f4a5d 0%,#112b34 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1f4a5d 0%,#112b34 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #1f4a5d 0%,#112b34 100%) !important;  /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f4a5d', endColorstr='#112b34',GradientType=0 ) !important; /* IE6-9 */
}
.setBtn2 {
background: #cad62a !important; /* Old browsers */
background: -moz-linear-gradient(top,  #cad62a 0%, #90c63d 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cad62a), color-stop(100%,#90c63d)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cad62a 0%,#90c63d 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cad62a 0%,#90c63d 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cad62a 0%,#90c63d 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #cad62a 0%,#90c63d 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cad62a', endColorstr='#90c63d',GradientType=0 ) !important; /* IE6-9 */
color:#fff;
}



.setting_aria {
background: #dbdac4;
opacity:0.7;
padding: 5px;
margin: 10px;
border-radius: 4px;
}
    .setting_aria li {
    line-height:2.6em;
    }
.setting_aria.km-flat .km-rowinsert, .km-flat .km-state-active, .km-flat .km-scroller-pull, .km-flat .km-loader:before, .km-flat .k-slider-selection, .km-flat .km-touch-scrollbar, .km-flat .km-pages .km-current-page, .km-flat .k-slider .k-draghandle, .km-flat .k-slider .k-draghandle:hover, .km-flat .km-tabstrip .km-state-active, .km-flat .km-scroller-refresh.km-load-more, .km-flat .km-popup .k-state-hover, .km-flat .km-popup .k-state-focused, .km-flat .km-popup .k-state-selected, .km-flat .km-actionsheet > li > a:active, .km-flat .km-actionsheet > li > a:hover, .km-flat li.km-state-active .km-listview-link, .km-flat li.km-state-active .km-listview-label, .km-flat .km-listview-label input[type=radio]:checked, .km-flat .km-listview-label input[type=checkbox]:checked {
background: #1d4658;
}

.backbutton {
left: 4.0em !important;

}
.backbtn{
background: url(../images/back.png) no-repeat center bottom !important;
border: none !important;
height: 44px;
box-shadow: none !important;
color: transparent !important;
}

.list_design {
margin:0px !important;
padding:0px !important;
}
.list_design li {

}
.button_g {
}
.setlistwalks, .details {
height: 55px;
}

.setlistwalks.km-listview-link:after, .details.km-listview-link:after {
    box-shadow:none !important;
}

#learningWalkDetailView .km-listinset, .km-listgroupinset, #learningWalkClassroomDetailView .km-listinset, .km-listgroupinset, #scoringElementDetailView .km-listinset, .km-listgroupinset, #evaluateesView .km-listinset, .km-listgroupinset, #evaluateeDetailView .km-listinset, .km-listgroupinset, #observationDetailView .km-listinset, .km-listgroupinset{
margin:0px;
}



.subtoolbar {
background:#687c1f !important;
border-radius: 0px !important;
padding:15px 0 !important;
}
    .subtoolbar span, .listtitle span{
    color:#fff;
    }
.listtitle {
background: #524137!important; /* Old browsers */
background: -moz-linear-gradient(top,  #524137 0%, #594840 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#524137), color-stop(100%,#594840))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #524137 0%,#594840 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #524137 0%,#594840 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #524137 0%,#594840 100%)!important; /* IE10+ */
background: linear-gradient(to bottom,  #524137 0%,#594840 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#524137', endColorstr='#594840',GradientType=0 )!important; /* IE6-9 */
border-radius: 0px !important;
}

    .listtitle li {
   border-radius:0px !important;
   list-style:none;
    }
.listtitle .km-text {
color:#fff;
}
.listtitle a {
text-decoration:none;
}
    .listtitle b {
    color:#fff;
    }

.scoringElementlink {
background:transparent !important;
border:none !important; 
}
.listviewSet li {
padding:0px;
}

#scoringElementDetailView .km-widget .km-list textarea{
   float:left;
   width:100%; 
}

.sidebartop .km-view-title {
background:#fff !important;
}

.km-flat .km-popup .k-item, .km-flat .km-actionsheet > li > a {
background:#1d4658;
}

.km-view-title, .km-dialog-title {
    font-size: 1.2em;
}
.km-flat .km-button {
    /**/padding: .5em .4em;
}

.newpopup {
margin:0px;
padding:0px;
}
.newpopup li {
list-style:none;
background:#edece1;
margin:2%;
border-radius:4px;
}
.newpopup select, .newpopup textarea{
background: #fcfcfc;
border-color: rgba(0,0,0,0.1);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
width: 90%;
padding: 10px;
margin: 5%;
}
#modalview-new .km-view-title {
    padding:5px 0;
}
.close_btn {
background:transparent !important;
border:none !important;
}

.km-root .km-pane .km-check:checked:after, .km-widget .km-check:checked:after {
content:none;
}


.km-flat:not(.km-on-android) .km-listview-link:after {
box-shadow: none !important;
}

.sidebararrow {
color:#5C4C45 !important;
float:right;
}

#slidenavarrow li a {
line-height:2.2em;
}
.km-buttongroup {
margin:inherit !important;
width:100%;
}

.tabing li{
padding:0px !important;
}
.tabsection li {
padding:10px 0 !important;
border-radius:0px !important;
}
.km-widget.km-buttongroup .km-button {
width:50% !important;
}

.tabsection .km-state-active {
border-right-width:0px !important;
border-left-width:0px !important;
border-radius:0px !important;
box-shadow: inset 0px 0px 20px #102a35 !important;
}
.tabsection .km-button {
 background: #1d4658 !important;
 border-radius:0px !important;
}

.tabsection .km-text{
color:#fff !important;
}
.listviewSet a{
color:#4c5356 !important;
}

#score_btn{
width: 100% !important;
height: 40px !important;
}
/*.km-flat:not(.km-on-android) .km-listview-link:after {
background: url(../images/list_arrow.png) no-repeat center right !important;
box-shadow: none !important;
height: 28px !important;
background-size: 16px 28px !important;
width: 28px;
margin-top: -20px;
} */