<div class="tabs-container">
    <div class="row">
        <div class="col-lg-12">
            <div >
                <!-- NOTE: this is necessary to work around problem with angular tab not allowing non-assignable
                expression for the value of 'active' property on tab.
                https://github.com/angular-ui/bootstrap/issues/611 -->
                <span ng-init="hideSetupTab = vm.hideSetupTab"></span>
                <span ng-init="setupTabSelected = vm.selectedTab===0 && !hideSetupTab"></span>
                <span ng-init="monitorTabSelected = vm.selectedTab===1"></span>
                <span ng-init="reviewTabSelected = vm.selectedTab===2"></span>
                <tabset>
                    <tab heading="Goal Setting" ng-click="vm.changeTab('sg-bundle-setup')" active="setupTabSelected">
                        <div class="tab-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div ui-view="sg-bundle-setup"></div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Goal Monitoring" ng-click="vm.changeTab('sg-bundle-monitor')" active="monitorTabSelected">
                        <div class="tab-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div ui-view="sg-bundle-monitor"></div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Goal Review"  ng-click="vm.changeTab('sg-bundle-review')" active="reviewTabSelected">
                        <div class="tab-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div ui-view="sg-bundle-review"></div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>