<div class="row">
    <div class="col-lg-12">
        <h3>
            Shared Goals
        </h3>
        <p>Student Growth Goals that have been shared</p>
        <br/><br/>
        <div ng-if="vm.submittedBundles.length==0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-8 col-md-offset-2">

                        <nothing-here  ng-if="!vm.isEvaluatee" title="'Nothing here'" description="'Once goal(s) have been shared they will appear here.'"></nothing-here>
                        <nothing-here  ng-if="vm.isEvaluatee" title="'Nothing here'" description="'Once you share your goal(s) they will appear here.'"></nothing-here>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="vm.submittedBundles.length>0">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Alignment</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat-start="bundle in vm.submittedBundles" >
                    <td><a href="#" ng-click="isCollapsed = !isCollapsed">
                        <span ng-class="{'fa fa-caret-right': !isCollapsed, 'fa fa-caret-down': isCollapsed}"></span></a>
                    </td>
                    <td>{{bundle.creationDateTime | date:'MM/dd/yyyy'}}</td>
                    <td>{{bundle.title}}</td>
                    <td ng-bind-html="vm.bundleAlignmentWithEval(bundle)"></td>
                    <td>
                        <button ng-click="vm.viewBundle(bundle)"class="btn btn-xs btn-primary">View</button>

                    </td>
                </tr>
                <tr collapse="!isCollapsed"  ng-repeat-end>
                    <td colspan="8">
                        <div ng-repeat="goal in bundle.goals">
                            <div class="well" ng-show="goal.goalStatement">
                                <b> {{goal.frameworkNodeShortName}} Goal </b>
                                <br />
                                <span ng-bind-html="vm.getSafeHtml(goal.goalStatement)" />
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>