<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SendMail" value="true" />
    <add key="UseTestEmailAccount" value="chnn.anne@gmail.com" />
    <add key="bcc" value="chnn.michael.college@gmail.com" />
    <add key="OutputTrace" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="EvalEntities" connectionString="metadata=res://stateevallib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/DataModels.DatabaseEntities.csdl|res://stateevallib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/DataModels.DatabaseEntities.ssdl|res://stateevallib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/DataModels.DatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=StateEval;uid=hoc;pwd=mumBleFr@tz;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SEDbConnection" connectionString="Data Source=localhost;Initial Catalog=StateEval;User ID=hoc;Password=mumBleFr@tz;Pooling=true;Max Pool Size=2000" />
    <add name="SERepoDbConnection" connectionString="data source=localhost;database=StateEval_Repo;User ID=hoc;Password=mumBleFr@tz;Pooling=true;Max Pool Size=2000" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="eval@esd113.org" deliveryMethod="Network">
        <!--<network defaultCredentials="true" host="164.116.4.5"  port="25" />-->
        <network host="smtp.gmail.com" port="587" userName="chnn.anne@gmail.com" password="" enableSsl="true" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>