<div class="row">
    <div class="col-lg-8" ng-switch="vm.evidenceCollectionService.state.view">
        <div ng-switch-when="node">
            <node node="vm.node"></node>
            <!--node level: no available evidence shown -->
            <div ng-repeat="rowShortName in vm.node.rows">
                <h3>{{vm.node[rowShortName].data.title}}</h3>
                <rubric-row
                        row="vm.node[rowShortName]"
                        toggle="vm.toggle">
                </rubric-row>
                <div ng-repeat="rrEval in vm.node[rowShortName].evaluations"
                     ng-if="vm.toggle[vm.node[rowShortName].data.id]">
                    <rubric-row-evaluation
                            eval="rrEval"
                            delete-fcn="vm.evidenceCollection.deleteEvaluation(rrEval)"
                            update-fcn="vm.evidenceCollection.updateEvaluation(rrEval)"
                    </rubric-row-evaluation>
                </div>
            </div>
        </div>
        <div ng-switch-when="row">
            <node-title node="vm.node"></node-title>
            <row-title row="vm.row"></row-title>
            <collection-row></collection-row>
        </div>
    </div>
    <div class="col-lg-4" style="background-color: #f3f3f4">
        <br/>
        <h4>Helper</h4>
        <div>
            <div>
                on the left you can access the note editor where you can, Mark segments
                of text and align them to a specific rubric.
            </div>
            <br />
            <div>
                Below you have easy access to all the relevant rubrics for Evaluation
            </div>
            <br />
        </div>
        <rubric-helper></rubric-helper>
    </div>
</div>
