<div ng-switch="vm.evidence.evidenceType">
    <!-- Artifact -->
    <div ng-switch-when="1">
        <artifact-evidence-summary artifact="vm.evidence.artifactBundle"></artifact-evidence-summary>
    </div>
    <!-- Observation Note -->
    <div ng-switch-when="2">
        <p ng-bind-html="vm.getSafeHtml(vm.evidence.rubricRowAnnotation.annotation)"></p>
    </div>
    <!-- Student Growth Goal -->
    <div ng-switch-when="7">
        <strong>Goal Statement</strong>
        <p ng-bind-html="vm.getSafeHtml(vm.evidence.studentGrowthGoal.goalStatement)"></p>
    </div>
</div>
