<div class="row">
    <div class="col-lg-3">
        <span>
            {{vm.EvidenceTypeKeys[score.linkedItemType]}}
        </span>
    </div>
    <div class="col-lg-6">
         <span>
            <strong>{{vm.evidenceCollection.associatedCollections[score.linkedItemType][score.linkedItemId].title}}</strong>
        </span>
    </div>
    <div class="col-lg-3">
        <div class="pull-right">
            <button ng-show="score.performanceLevel"
                    class="btn btn-outline btn-default btn-xs framework_node_score_active_btn">
                {{vm.enums.PerformanceLevels[score.performanceLevel - 1].substring(0,3)}}
            </button>
        </div>
    </div>
</div>