 <div>

     <select class="form-control" ng-model="vm.filter" ng-change="vm.change()" ng-show="vm.rowCount>1">
        <option value="Scored Rows">Scored Rows</option>
        <option value="All">All</option>
        <option value="{{node.shortName}}" ng-repeat-start="node in vm.context.framework.frameworkNodes"><strong>{{node.shortName}}
            {{node.title}}</strong></option>
        <option value="{{row.id}}" ng-repeat="row in node.rubricRows" ng-repeat-end>{{row.title}}</option>
    </select>
    <div ng-repeat="id in vm.listOfRowIds">
        <br/>
        <h4>{{vm.allRows[id].title}}</h4>

        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th ng-repeat="level in vm.enums.PerformanceLevels">
                            <table class="table">
                                <tr>
                                    <td width="25%" class="rubric-descriptor-header rubric-checked">
                                        <div >
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    {{level}}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td  ng-repeat-start="level in vm.enums.PerformanceLevels" ng-repeat-end width="25%" ng-bind-html="vm.getSafeHtml(vm.allRows[id].performanceLevels[level].mergeHtml)"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

<!--        <h2>Two handles</h2>
        <input type="number" ng-model="vm.options2.start[0]"/>
        <input type="number" ng-model="vm.options2.start[1]"/>
        <div class="horizontal-slider"
             ya-no-ui-slider-events='vm.eventHandlers'
             ya-no-ui-slider-slide-debounce='300'
             ya-no-ui-slider="vm.options2"></div>
        <button ng-click="vm.options2.start = [15, 50]">set [15, 50]</button>-->

        <div ng-repeat="(key, value) in vm.allRows[id].evaluations" ng-show="vm.allRows[id].evaluations[key]">
            <div class="row">
                <div class="col-sm-12">
                    <label ng-if="vm.allRows[id].evaluations.length>1">{{key}}</label>

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="20%">Item</th>
                            <th width="10%">Scored By</th>
                            <th width="70%"></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="evaluation in vm.allRows[id].evaluations[key]">
                        <tr>
                            <td><i>{{evaluation.objectSummary.title}}</i><br/>
                                Created By <i>{{evaluation.objectSummary.createdByDisplayName}}</i></td>
                            <td>{{evaluation.createdByUserDisplayName}}<br/>
                                {{evaluation.creationDateTime | date}}
                            </td>
                            <td>
                                <show-rubric-row-evaluation rubric-row-evaluation="evaluation" rubric-row="vm.allRows[id]"></show-rubric-row-evaluation>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
 </div>
