.observation-setup-basic {
    
}

/* Pre Conference*/
.prompt-selection-area{
     width:1000px;
     margin-top: 20px;
}

    .prompt-selection-area .prompt-panel {
        width: 490px;
        float: left;        
        border-bottom: solid 1px #a9a9a9;
    }

    .prompt-panel-header {
        height: 50px;   
    }

    .prompt-panel-header .description {
        font-size: 11px;
    }

    .prompt-selection-area .prompt-row {
        border-top: solid 1px #a9a9a9;
        border-left: solid 1px #a9a9a9;
        border-right: solid 1px #a9a9a9;
        padding: 10px 0px 10px 0px;
        height: 50px;
        clear: both;
        cursor: pointer;
        line-height: 26px;
    }

    .prompt-row-new-prompt {
        height: 78px !important;
    }

     .prompt-selection-area .prompt-row-header {
         background-color: #dddddd;
         height: 35px;
         padding-top: 8px;         
     }

    .prompt-selection-area .prompt-selector {
        float: left;
        width: 50px;
        text-align: center;
    }
    
    .prompt-selection-area .selected-prompt {
        background-color: #d8bfd8;
    }

    .prompt-row-done {
        background-color: #1ab394;
        text-align: center;
        color: white;
        padding: 7px 0px 7px 0px !important;
        height: 35px !important;
    }

    .prompt-view {
        margin-top: 10px;
    }

    .prompt-view .prompt-row {
        margin-top: 10px;
    }

    table.framework-view  th{
        background-color:#3a4459 !important;
        color:white;
    }

    table.framework-view  th.fn-complete{
        background-color: #1ab394 !important;
        color:white;
    }

    .add-stand-alone-q {
        margin-left: 10px;
    }

    .color-green {
        color: #1ab394;
    }
    .color-red {
        color: red;
    }

    .remove-prompt-icon {
         font-size: 16px; margin-right: 20px;
        color: red;
    }
     
    .prompt-select-button {
        background-color: #1ab394;
        color: white;
    }    

    

    /*Teacher Pre conference*/

.teacher-pre-conf-question-area {
    margin-top: 30px;       
}

.q-ans-main-area {
    min-height: 60px;
    border: solid 5px #dddddd;
    margin-bottom: 10px;
    overflow: hidden;
}

.q-ans-main-area .teacher-question {
    background-color: #dddddd;
    height: 30px;
    line-height: 30px;
}

.q-ans-main-area .teacher-answer {
    background-color: white;        
    height: 50px;
}

.q-ans-main-area .teacher-answer textarea {
    width: 100%;
    height: 100%;
}

.selected-question-area {
    border: solid 1px #dddddd;
}

.selected-question-header {
    background-color: #dddddd;
    height: 66px;
    padding: 10px;
}

.selected-prompts {
    margin: 20px 0px 20px 20px;
}