/* LEFT NAV STYLES */

td#leftNavContainer {
	width: 150px;
	background: #FFFFFF;
}

table.leftNav {
	border: 0px solid lime;
	width:150px;
}
table.leftNav td {
	font-size: 9pt;
	font-weight: bold;
}
td.leftNavHeader {
	border-bottom: 1px solid #F3F3F3;
	padding-bottom: 4px;
	color:#737262;
}
td.leftNavLink {
	padding-left: 18px;
	border-bottom: 1px solid #F3F3F3;
	height: 24px;
}

td.leftNavLink a:link,
td.leftNavLink a:visited {
	color: #185d00;
	display: block;
	padding-top: 4px;
	padding-bottom: 5px;
	width: 100%;
	text-decoration: none;
	font-weight: bold;
}

/* ====================== */
/* styles for rounded box */
/* ====================== */
td#RNavCell {
	padding: 0px;
	position: relative;
	width: 205px;
	background: #F3F3F5;
}
b.RNavTop, b.RNavBottom {display:block; background:transparent; font-size:1px;}
b.RNavTopDash, b.RNavBottomDash {display:block; background:transparent; font-size:1px;}
b.RNavBottom, b.RNavBottomDash {margin-bottom: 8px;}
b.RNavB1, b.RNavB2, b.RNavB3, b.RNavB4, 
b.RNavB1Dash, b.RNavB2Dash, b.RNavB3Dash, b.RNavB4Dash,
b.RNavB5Dash, b.RNavB6Dash, b.RNavB7Dash, b.RNavB8Dash  
{display:block; overflow:hidden;}
b.RNavB1, b.RNavB2, b.RNavB3, 
b.RNavB1Dash, b.RNavB2Dash, b.RNavB3Dash,
b.RNavB6Dash, b.RNavB7Dash, b.RNavB8Dash  {height:1px;}
b.RNavB4, b.RNavB4Dash, b.RNavB5Dash {height:2px;}
b.RNavB2, b.RNavB3, b.RNavB4 {background: #fff; border-left: none; border-right:1px solid #E0E0E0;}
b.RNavB2Dash, b.RNavB3Dash, b.RNavB4Dash {background: #90909A; border-left: none; border-right:1px solid #505155;}
b.RNavB5Dash, b.RNavB6Dash, b.RNavB7Dash {background: #080808; border-left: none; border-right:1px solid #505155;}
b.RNavB1     {margin-right: 4px; background: #E0E0E0;}
b.RNavB1Dash {margin-right: 4px; background: #505155;}
b.RNavB8Dash {margin-right: 4px; background: #080808;}
b.RNavB2, b.RNavB2Dash, b.RNavB7Dash {margin-right: 2px; border-width:0 2px;}
b.RNavB3, b.RNavB3Dash, b.RNavB6Dash {margin-right: 1px;}
b.RNavB4, b.RNavB4Dash, b.RNavB5Dash {margin-right: 0;}
/*div.rCBoxContent {display:block; background:#fff; border:0 solid tomato; border-width:0 1px;}*/







