<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Prompt</th>
                <th ng-repeat="node in vm.studentGrowthFrameworkNodes">{{node.shortName}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td ng-repeat="node in vm.studentGrowthFrameworkNodes">
                    <div>
                        <div class="margin-top-5 margin-bottom-5 checkbox checkbox-primary">
                            <input type="checkbox" id="cbpg{{vm.promptType}}{{$index}}{{node.id}}{{prompt.id}}" ng-click="vm.togglePromptUse(node)" />
                            <label for="cbpg{{vm.promptType}}{{$index}}{{node.id}}{{prompt.id}}">
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="prompt in vm.availablePrompts">
                <td>
                    <button confirm="Are you sure you want to delete this prompt?" class="btn btn-default btn-outline btn-xs" ng-click="vm.deletePrompt(prompt)">Delete</button>
                </td>
                <td>
                    <p ng-bind-html="vm.getSafeHtml(prompt.prompt)"></p>
                </td>
                <td ng-repeat="node in vm.studentGrowthFrameworkNodes">
                    <div>
                        <div class="margin-top-5 margin-bottom-5 checkbox checkbox-primary">

                            <input type="checkbox" id="cbp{{$index}}{{node.id}}{{prompt.id}}" ng-checked = "vm.promptInUse(node, prompt)"  ng-click="vm.togglePromptUse(node, prompt)" />
                            <label for="cbp{{$index}}{{node.id}}{{prompt.id}}">
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="vm.inEditMode">
            <div class="row">
                <div class="col-lg-6">
                    <summernote config="vm.summernoteOptions"  ng-model="vm.prompt" placeholder="Enter prompt here..."></summernote>
                    <button class="btn btn-default btn-outline btn-xs" ng-click="vm.inEditMode=false">Cancel</button>
                    <button class="btn btn-primary btn-xs" ng-click="vm.addPrompt()" >Done</button>

                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-xs" ng-click="vm.inEditMode=true" ng-disabled="vm.inEditMode">Add New Prompt</button>
    </div>
</div>


