<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Edit Prompt</h5>
        <div class="ibox-tools">
            <button class="btn btn-sm btn-primary" ng-click="vm.saveUserPrompt(true)">Done</button>
            <button class="btn btn-primary btn-sm" ng-click="vm.cancel()" value="Cancel">Cancel</button>
        </div>

        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">

                    <div ng-show="vm.userPrompt.inUse" class="alert alert-danger">
                        <span class="fa fa-exclamation-circle">
                           <span>Consider edits carefully. This prompt has been finalized and assigned.</span>
                        </span>
                    </div>

                    <div ng-show="vm.userPrompt.wfState===enums.WfState.USERPROMPT_RETIRED" class="alert alert-info">
                        <span class="fa fa-exclamation-circle">
                           <span>This prompt has been retired. It is no longer available for assignments</span>
                        </span>
                    </div>

                    <div ng-show="vm.userPrompt.wfStateID != enums.WfState.USERPROMPT_IN_PROGRESS"  class="checkbox checkbox-primary">
                        <input type="checkbox"  id="cbRetired" ng-model="vm.retire">
                        <label for="cbRetired">
                            <span ng-show="vm.userPrompt.wfStateID !== enums.WfState.USERPROMPT_RETIRED" >Check to discontinue this prompt for future use.
                            It will no longer be available for assignment.
                            </span>
                            <span ng-show="vm.userPrompt.wfStateID === enums.WfState.USERPROMPT_RETIRED" >Check to un-retire this prompt.
                            It will then be available for assignment.
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Prompt</label>
                        <textarea kendo-editor k-ng-model="vm.prompt"></textarea>
                    </div>
                </div>
            </div>

            <rubric-row-selector rubric-rows="vm.userPrompt.rubricRows"></rubric-row-selector>
        </div>
    </div>
</div>