<div>
    <span class="pull-right"><input type="button" value="Back to Notes" class="btn btn-primary btn-xs" ng-click="vm.showNoteSection()" /></span>
    <div style="margin-top: 40px;">
        <div>
            <h2>{{vm.selectedRubricRow.title}}</h2>
        </div>
    </div>
    <hr />
   <!--ac: moved annotations into score-rubric-row directive <div>
        <div><b>Rubric Observation Notes</b></div>
        <div>Observation notes related to this Rubric </div>
    </div>
    <div>
        <table class="table">
            <tr ng-repeat="annotation in vm.annotations">
                <td>{{$index+1}}</td>
                <td>
                    {{annotation.annotation}}
                </td>
            </tr>
        </table>
    </div>-->
    <div>
        <score-rubric-row object-type="vm.objectType"
                          object="vm.evalSession"
                          get-evidence-collection-fcn="vm.getEvidenceCollection"
                          rubric-row-id="vm.selectedRubricRowId"></score-rubric-row>
    </div>
   <!-- <div>
        <span class="pull-left">
            <input type="button" value="Save" class="btn btn-primary btn-xs" ng-click="vm.saveEvaluation(19)" />
            <input type="button" value="Done" class="btn btn-primary btn-xs" ng-click="vm.saveEvaluation(20)" />
        </span>
    </div>-->
</div>