
<div>
    <div>
        <h3>Evaluate Item</h3>
        Evaluate the selected Item
    </div>
    <div>
        <span style="font-weight: bold;" class="pull-left">{{vm.selectedRubricRow.frameworkNodeShortName}} - Rubric {{vm.selectedRubricRow.title}}</span>
        <span class="pull-right"><input type="button" value="Reject Item" class="btn btn-primary btn-xs" ng-click="vm.rejectEvaluation()" /></span>        
    </div>
    <br />    
    <hr />
    <div>
        <div><b>Artifact</b></div>
        <div>Observation notes related to this Rubric </div>
    </div>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a href="#" ng-click="isCollapsed = !isCollapsed">
                            <span ng-class="{'fa fa-caret-right': !isCollapsed, 'fa fa-caret-down': isCollapsed}"></span>
                        </a>
                    </td>
                    <td>{{vm.selectedArtifact.creationDateTime|date:'MM/dd/yyyy'}}</td>
                    <td style="width: 200px;">{{vm.selectedSrtifact.title}}</td>
                    <td>{{vm.selectedArtifact.items}}</td>
                    <td>
                        <input type="button" value="Expand" class="btn btn-primary btn-xs" />                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <score-rubric-row object-type="vm.objectType" object="vm.observation" rubric-row="vm.selectedRubricRow"></score-rubric-row>
    </div>
    <div>
        <span class="pull-left">
            <input type="button" value="Save" class="btn btn-primary btn-xs" ng-click="vm.saveArtifactEvaluation(19)" />
            <input type="button" value="Done" class="btn btn-primary btn-xs" ng-click="vm.saveArtifactEvaluation(20)" />
        </span>
    </div>
</div>