<div>
    <div ng-show="vm.evalSession.isSharedWithEvaluatee && vm.isEvaluator">
        <span>
            <b>This observation is shared with teacher</b>
        </span>
        <span class="pull-right"><input type="button" value="Stop Sharing" ng-click="vm.stopShareWithTeacher()" /></span>
    </div>
    <br/>
    <div ng-switch="vm.observationView">
        <div ng-switch-when="1">
            <div class="row">
                <div class="col-lg-8">
                    <div ng-include src="'app/observation/views/observation-notes.html'"></div>
                </div>
                <br/>
                <br/>
                <div class="col-lg-4" style="background-color: #f3f3f4">
                    <br/>
                    <h4>Helper</h4>
                    <div>
                        <div>
                            on the left you can access the note editor where you can, Mark segments
                            of text and align them to a specific rubric.
                        </div>
                        <br />
                        <div>
                            Below you have easy access to all the relevant rubrics for Evaluation
                        </div>
                        <br />
                    </div>
                    <rubric-helper></rubric-helper>
                </div>
            </div>
        </div>

        <div ng-switch-when="2">
            <div class="row">
                <div class="col-lg-12">
                    <span class="pull-right"><input type="button" value="Back to Notes" class="btn btn-primary btn-xs" ng-click="vm.showNoteSection()" /></span>
                </div>
            </div>
            <evidence-collection evidence-collection="vm.evidenceCollection" defaults="vm.defaults"></evidence-collection>
        </div>
    </div>

    <div kendo-window="vm.sharedWithTeacherWindow" k-visible="false" k-modal="true">
        <div class="row" style="margin: 20px;">
            <div class="col-lg-12">
                <div>
                    <h3>
                        Share Observation with Teacher
                    </h3>
                </div>
                <div style="margin: 20px 0px 20px 0px;">
                    This collaboration feature lets you share with the Teacher the current state of the Observation,
                    sharing is a best practice within the spirit of the Instructional Frameworks, and extremely helpful in the teacher's growth and
                    the Post-conference.
                </div>
                <div style="margin-bottom: 20px;">
                    <u>A few points about eVAL's collaboration process:</u>
                </div>
                <div>
                    <ul>
                        <li>
                            You can share the Observation at any time .
                        </li>
                        <li>Sharing includes the Pre-conference and Post-conference parts if applicable.</li>
                        <li>Clicking the share will open the Self-Evaluate option for the Teacher.</li>
                        <li>The Notes Editor text and the coded text used to create Evaluated Evidence, will be shared with the Teacher.</li>
                        <li>No ranking, Rubric descriptors selection or Evidence statement are shared in the process.</li>
                        <li>The Teacher can use your Evidence and notes as a starting point, or add their own Notes and Evidence.</li>
                        <li>The Notes Editor text Is passed only once, at the sharing of the document.</li>
                    </ul>
                </div>
                <div>
                    Note: Before sharing make sure you at least entered your Observation notes, otherwise the note editor would be sent blank.
                    Cancel Share
                </div>
                <div style="margin-top: 20px;">
                    <input type="button" ng-click="vm.sharedWithTeacherWindow.close();" value="Cancel" />
                    <input type="button" ng-click="vm.shareWithTeacher()" value="Share" />
                </div>
                <br/>
                <br/>
            </div>
        </div>


    </div>
    <div kendo-window="vm.stopShareWithTeacherWindow" k-visible="false" k-modal="true">
        <div class="row" style="margin: 20px;">
            <div class="col-lg-12">
                <div>
                    <h3>
                        Sharing Options
                    </h3>
                    <span>You are currently sharing this Observation, you have the option to stop sharing below</span>
                </div>
                <div style="margin: 20px 0px 0px 0px;">
                    Attach a reason for the Teacher: (optional)
                </div>
                <div>
                    <textarea ng-model="vm.evalSession.reasontoStop"></textarea>
                </div>
                <div style="margin-bottom: 20px; color: red">
                    Note: after clicking stop sharing, the Teacher will no longer have access to this Observation, even if
                    he / she already started working on the Self-Evaluation.
                </div>
                <div style="margin-top: 20px;">
                    <input type="button" ng-click="vm.sharedWithTeacherWindow.close();" value="Cancel" />
                    <input type="button" ng-click="vm.stopShareWithTeacher()" value="Stop Sharing" />
                </div>
            </div>
        </div>


    </div>

    <div class="ibox-content" ng-show="vm.isEvaluator">
        <div class="row">
            <input class="btn btn-default" type="button" value="Cancel" />
            <input id="saveForLaterButton" class="btn btn-success" type="button" value="Save for later" ng-click="vm.saveObservation()" />
            <input class="btn btn-success" type="button" value="Share with Teacher" ng-click="vm.openSharedWithTeacherWindow()" />
            <input class="btn btn-default" type="button" value="Send Final Version" />
        </div>
    </div>
</div>
