<div  read-only-area read-only="vm.isObservationReadOnly">
    <div>
        <div>
            <div>
                <h2>Observation Setup</h2>
                <span>List of observation you have started</span>
            </div>

            <div style="margin-top: 30px;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Observation Title:</label>
                        <input class="form-control" type="text" ng-model="vm.observation.title" />
                    </div>
                    <div class="col-lg-3">
                        <label>Pre-Conference Date:</label>
                        <input class="form-control" type="date" ng-model="vm.observation.preConfStartTime" />
                    </div>
                    <div class="col-lg-3">
                        <div>
                            <label>Observation Date:</label>
                            <input class="form-control" type="date" ng-model="vm.observation.observeStartTime" />
                        </div>
                        <div style="margin-top: 10px;">
                            <div><label>Observation Duration</label></div>
                            <span><input class="form-control pull-left" type="text" ng-model="vm.observation.duration" style="width: 50px;" /></span>
                            <span style="margin-left: 10px; line-height: 30px;" class="pull-left">Min</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>Post-Conference Date:</label>
                        <input class="form-control" type="date" ng-model="vm.observation.postConfStartTime" />
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="ibox-content">
        <rubric-row-selector rubric-rows="vm.rubricRows" evaluation-type="vm.evaluationType"></rubric-row-selector>
    </div>

    <div class="ibox-content">
        <div class="row">
            <input id="saveForLaterButton" class="btn btn-success hide-when-read-only" type="button" value="Save" ng-click="vm.saveObservation()" />
        </div>
    </div>
</div>
