<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li ng-click="vm.selectedTab='setup'" ng-class="{'active':vm.selectedTab=='setup'}">
            <a ui-sref="observation.setup">Obs. Setup</a>
        </li>
        <li ng-click="vm.selectedTab='preconference';" ng-class="{'active':vm.selectedTab=='preconference'}">
            <a ng-show="vm.isEvaluator" ui-sref="observation.preconference">Pre Conference</a>
            <a ng-show="!vm.isEvaluator" ui-sref="observation.preconferenceteacher">Pre Conference</a>
        </li>
        <li ng-click="vm.selectedTab='observation'" ng-class="{'active':vm.selectedTab=='observation'}" ng-show="vm.isEvaluator || observation.IsSharedWithEvaluatee">
            <a ui-sref="observation.observation">Observation</a>
        </li>
        <li ng-click="vm.selectedTab='artifacts'" ng-class="{'active':vm.selectedTab=='artifacts'}">
            <a ui-sref="observation.artifacts">Artifacts</a>
        </li>
        <li ng-click="vm.selectedTab='postconference'" ng-class="{'active':vm.selectedTab=='postconference'}">
            <a ui-sref="observation.postconference">Post Conference</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-body">
            <div ui-view="content"></div>
        </div>
    </div>
</div>
