<div>
    Post conference
</div>

<div class="alert alert-info">
    This form allows you to configure the set of questions you want to include in the conference.
    <ul>
        <li>
            Your district or school may provide questions for you to consider including. These are indicated in the <b>Defined by</b> column as either District or School.
            They will be checked to include in the conference by default, but you may choose to not include them in the conference by unchecking the <b>Assigned</b> checkbox.
        </li>
        <li>The <b>Show only assigned prompts</b> checkbox allows you to filter out those questions that do not have the <b>Assigned</b> checkbox checked and will not be included in this conference.</li>
    </ul>
</div>
<div class="row">
    <input type="button" value="Add New Post-Conference Prompt" class="btn btn-success" ng-click="vm.openWindow()" />
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <!--<kendo-grid options="vm.postConfGridOptions"></kendo-grid>-->
        <div class="row" style="width:1000px">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-8">Questions</div>
                    <div class="col-lg-4">Source</div>
                </div>
            </div>
            <div class="col-lg-2">
                <div>
                    >>
                </div>
                <div>
                    <<
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-8">Questions</div>
                    <div class="col-lg-4">Source</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ibox-content">
    <div class="row">
        <label>State Framework</label>
        <div>
            <framework-tree framework="vm.stateFramework" rubric-rows="vm.rubricRows"></framework-tree>
        </div>
    </div>
</div>
<div kendo-window="vm.window" k-visible="false" k-modal="true">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label> Enter Prompt</label>
                <textarea kendo-editor k-ng-model="vm.newPrompt.prompt" style="width: 600px;"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="button" ng-click="vm.window.saveNewPostConferencePrompt()" value="Insert" />
            <input type="button" ng-click="vm.window.close();" value="Cancel" />
        </div>
    </div>
</div>

