<div>
    <div>
        <h3>
            Pre-Conference View / Use Answers</h3>
        <span>list of Observation you have started</span>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div style="margin-top: 30px;">
                <b>Pre-Conference questions:</b>
                <br />
                <span>list of the questions you asked the teacher before the observation</span>
            </div>
            <div style="margin-top: 30px;">
                <div style="margin-top: 40px;" ng-repeat="userPromptResponse in vm.userPromptResponses">
                    <div style="font-weight: bold;">
                        {{$index+1}}.&nbsp;&nbsp;{{userPromptResponse.prompt}}</div>
                    <hr />
                    <div style="background-color: #e7eaec;" class="note-editor" ng-show="userPromptResponse.response">
                        <div style="font-weight: bold; padding-top: 10px; padding-left: 10px;">
                            {{userPromptResponse.responseDateTime|date:'dd/MM/yyyy'}}- {{userPromptResponse.userName}}</div>
                        <br />
                        <div class="selectable-area" rubric-coder eval-session="vm.evalSession" code-id="{{userPromptResponse.userPromptResponseID}}">
                        </div>
                        <div style="margin: 10px 10px 20px 10px; background-color: white; padding: 10px;"
                             class="code-area-{{userPromptResponse.userPromptResponseID}}" ng-bind-html="userPromptResponse.response">
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div ng-show="!userPromptResponse.response">
                        No Response Yet
                    </div>
                </div>
            </div>
            <div style="margin-top: 30px;">
                <div>
                    <span class="font-bold">Pre-Conference Summary</span>
                    <br />
                    <span>notes that summarizes the Pre-conference meeting</span>
                </div>
                <br />
                <div summer-note-new eval-session="vm.evalSession" note-property="evaluatorPreConNotes">
                </div>
            </div>
            <div>
                <div>
                    <h4>
                        Teacher Pre-Conference Summary:</h4>
                    <span>Meeting summary notes sent by the teacher</span>
                </div>
                <hr />
                <div style="text-align: justify" ng-bind-html="vm.evalSession.evaluateePreConNotes">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <span style="font-weight: bold;">Helper</span>
            <hr />
            <div>
                <div>
                    on the left you can access the note editor where you can, Mark segments of text
                    and align them to a specific rubric.
                </div>
                <br />
                <div>
                    Below you have easy access to all the relevant rubrics for Evaluation
                </div>
                <br />
            </div>
            <rubric-helper></rubric-helper>
        </div>
    </div>
    <div style="margin-top: 30px;">
        <input type="button" value="Save" class="btn btn-primary" ng-click="vm.saveRubricRowFocuses()" />
    </div>
</div>
