<div>
    <div>
        <h2>
            Pre-Conference (Optional)
        </h2>
        <span>Here you can send the Pre-conference questions, and write the summary of your
            meeting</span>
    </div>
    <div style="margin-top: 30px;">
        <h4>
            Observation Details</h4>
        <div style="margin-top: 20px; margin-left: 20px;">
            <div>
                <label>
                    Title:&nbsp;&nbsp;</label><span>{{vm.evalSession.title}}</span></div>
            <div>
                <label>
                    Type:&nbsp;&nbsp;</label><span>{{vm.evalSession.type}}</span></div>
            <div>
                <label>
                    Pre-conference date:&nbsp;&nbsp;</label><span>{{vm.evalSession.preConfStartTime | date:'dd/MM/yyyy'}}</span></div>
        </div>
    </div>
    <!--<div style="margin-top: 30px;">
        <div><b>Communication</b></div>
        <span>if you want to send the evaluator a message in connection to this Pre-conference, to ask for additional information for example, use the send message button below.</span>
        <input type="button" class="btn btn-primary" value="Send Message" />
    </div>-->
    <div class="teacher-pre-conf-question-area">
        <div>
            <h4>
                Questions/Answers</h4>
            <span>List of questions and answers</span>
            <span class="pull-right">
                <input style="margin-top: -10px;"class="btn btn-primary btn-sm" type="button" value="Send to Evaluator" ng-click="vm.sendToEvaluator()" />
            </span>
        </div>
        <hr />
        <div>
            <div ng-repeat="userPrompt in vm.userPromptResponses">
                <div class="q-ans-main-area">
                    <div class="teacher-question">
                        <b>{{$index+1}}. &nbsp;&nbsp;{{userPrompt.prompt}}</b>
                    </div>
                    <div class="teacher-answer">
                        <textarea ng-model="userPrompt.response" placeholder="Start typing"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <input type="button" value="Done" ng-click="vm.save()" class="btn btn-primary" />
        </div>
    </div>
    <div style="clear: both;"></div>
    <hr />
    <div>
        <div>
            <h3>
                Pre-Conference Summary</h3>
            <span>notes that summarizes the Pre-conference meeting</span>
        </div>
        <hr />
        <div>
            <div summer-note-new eval-session="vm.evalSession" note-property="evaluateePreConNotes">
            </div>
        </div>
        <br />
        <br />
        <div>
            <div>
                <h3>
                    Evaluator Pre-Conference Summary</h3>
                <span>Meeting summary notes sent by the principal</span>
            </div>
            <hr />
            <div style="text-align: justify" ng-bind-html="vm.evalSession.evaluatorPreConNotes">
            </div>
        </div>
    </div>
</div>
