<div class="prompt-selection-area" ng-hide="!vm.editView">
    <div class="prompt-panel">
        <div class="prompt-panel-header">
            <div><b>Question Bank:</b></div>
            <div class="description">List of questions from your private question bank or questions pre-supplied by the district</div>
        </div>
        <div class="prompt-row prompt-row-header">
            <div class="col-lg-8">Questions</div>
            <div class="col-lg-4">Source</div>
            <div class="clearfix"></div>
        </div>
        <div class="prompt-row" ng-repeat="userPrompt in vm.userPrompts" ng-click="vm.selectPromptRow(userPrompt)" ng-class="{'selected-prompt':vm.selectedPrompt.userPromptID==userPrompt.userPromptID}">
            <div class="col-lg-8">{{userPrompt.prompt}}</div>
            <div class="col-lg-2">{{userPrompt.definedBy}}</div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-default btn-sm prompt-select-button" ng-click="vm.selectPromptRow(userPrompt);vm.assign();">
                    <span class="glyphicon glyphicon-menu-right"></span>
                    <span class="glyphicon glyphicon-menu-right" style="margin-left: -10px;"></span>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix;"></div>
    </div>
    <div class="prompt-panel" style="margin-left: 20px;">
        <div class="prompt-panel-header">
            <div><b>Selected:</b></div>
            <div class="description">Questions that will be sent to the Teacher</div>
        </div>
        <div class="prompt-row  prompt-row-header">
            <div class="col-lg-8">Questions</div>
            <div class="col-lg-4">Source</div>
            <div class="clearfix"></div>
        </div>
        <div class="prompt-row" ng-repeat="userPrompt in vm.assignedUserPrompts" ng-click="vm.selectPromptAssignedRow(userPrompt)" ng-class="{'selected-prompt':vm.selectedPromptAssigned.userPromptID==userPrompt.userPromptID}">
            <div class="col-lg-8">{{userPrompt.prompt}}</div>
            <div class="col-lg-3">{{userPrompt.definedBy}}</div>
            <div class="col-lg-1" style="text-align: left;">
                <span ng-click="vm.selectPromptAssignedRow(userPrompt);vm.unAssign();" class="glyphicon glyphicon-remove-sign remove-prompt-icon" title="Remove"></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="prompt-row prompt-row-new-prompt" ng-show="vm.showNewPromptArea">
            <div class="col-lg-8">
                <textarea ng-model="vm.newPrompt.prompt" rows="2" cols="48"></textarea>
            </div>
            <div class="col-lg-4">
                <input type="button" class="btn btn-primary btn-sm" value="Cancel" ng-click="vm.cancelAddPrompt()" />
                <input type="button" class="btn btn-primary btn-sm" value="Done" ng-click="vm.saveNewPreConferencePrompt()" />
            </div>
        </div>
        <div class="prompt-row"  ng-click="vm.addNewPrompt();">
            <span class="add-stand-alone-q">
                <span class="glyphicon glyphicon-plus-sign color-green"></span>&nbsp;
                <span>Add Stand Alone Quesion</span>
            </span>
        </div>
        <div class="prompt-row prompt-row-done" ng-click="vm.done()">Done</div>
    </div>
    <div class="clearfix"></div>
</div>
<!--<div class="prompt-view" ng-hide="vm.editView">    
    <div class="pull-right">
        <input type="button" value="Edit" ng-click="vm.edit()" />
    </div>
    <div>
        <div><h3>Questions</h3></div>
        <div ng-repeat="userPrompt in vm.userPromptResponses" class="prompt-row">
            <div>
                <b> {{$index+1  }}. &nbsp;&nbsp;{{userPrompt.prompt}}</b>
            </div>
            <hr />
            <div>
                {{userPrompt.response}}
            </div>
        </div>

    </div>
</div>-->

<div class="prompt-view" ng-hide="vm.editView">
    <div class="selected-question-area">
        <div class="selected-question-header">
            <div class="pull-left">
                <h5>Selected Questions</h5>
                <span>List of questions from your private question bank or questions pre-supplied by the district</span>
            </div>
            <div class="pull-right">
                <input class="btn btn-primary btn-sm" type="button" value="Edit" ng-click="vm.edit()" />
                <input class="btn btn-primary btn-sm" type="button" value="Send" ng-click="vm.send()"/>
            </div>
        </div>
        <div>            
            <div>
                <div ng-repeat="userPrompt in vm.userPromptResponses" class="prompt-row">                    
                    <div class="selected-prompts">
                        {{$index+1  }}. &nbsp;{{userPrompt.prompt}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
