<div class="row">
    <div class="col-lg-12">
        <h2>Overall Coverage for {{vm.context.evaluatee.displayName}}</h2>
        <br/>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="coverage-single-fn-header-left">Type</th>
                <th class="coverage-single-fn-header-left">General Information</th>
                <th width="150px" ng-repeat="node in vm.nodes" ng-class="{'coverage-single-fn-header-done':vm.filledNodes[node.shortName], 'coverage-single-fn-header':!vm.filledNodes[node.shortName]}">
                    <span >{{node.shortName}}</span>
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="(key, value) in vm.enums.EvColTypeAccessor">
            <tr ng-repeat="item in vm.evidenceCollection.associatedCollections[vm.enums.EvidenceCollectionType[key]]">
                <td width="80px">{{key}}</td>
                <td width="300px">
                   <a ui-sref="submitted-artifact-summary({artifactId:source.id})">{{item.title}}</a><br/>
                    Created&nbsp;<i>{{item.creationDateTime | date }}</i>&nbsp; by <i>{{item.createdByDisplayName}}</i>
                </td>
                <td ng-repeat="node in vm.nodes">
                <span ng-repeat-start="row in node.rubricRows"
                      ng-class="{'badge': row.evaluations.length>0}">
                   {{vm.rowMapper[row.id]}}
                </span>
                    <span ng-repeat-end ng-show="!$last">, </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
