<!--This is the right information panel-->
<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h5>Select Frameworks Information</h5>
    </div>
    <div class="ibox-content">
        <div>
            <p>Select the evaluation framework used for teacher and principal evaluations and configure when the framework is made available to evaluators. In addition, when your district is using an Instructional Framework, you may optionally configure which framework views are visible throughout the application.</p>
            The choices are as follows:
            <ol>
                <li>State and Instructional - State Default</li>
                <li>State and Instructional - Instructional Default</li>
                <li>State Only</li>
                <li>Instructional Only</li>
            </ol>
            <p>#1 and #2 are used when the frameworks are presented on tabs, such as on the observation scoring screen. Both #1 and #2 would show both the State Rubrics and Instructional Rubrics tabs, but #1 would start with the State Rubrics tab active, whereas #2 would start with the Instructional Rubrics tab active.</p>
            <p>#3 and #4 only show the one framework view. This would apply to screens where rubric alignment occurs, such as when configuring a user prompt, aligning an artifact to rubrics, or configuring the focus for an observation.</p>


        </div>

    </div>
</div>