<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="stateevallib.Properties.Settings.stateevalConnectionString" connectionString="Data Source=.;Initial Catalog=stateeval;User ID=WebApplication;password=fingleGommit" providerName="System.Data.SqlClient" />
    <add name="stateevallib.Properties.Settings.StateEval_RepoConnectionString" connectionString="Data Source=.;Initial Catalog=StateEval_Repo;User ID=WebApplication;password=fingleGommit" providerName="System.Data.SqlClient" />
    <add name="StateEvalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=StateEval;persist security info=True;user id=hoc;password=mumBleFr@tz;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EvaluationEntities" connectionString="metadata=res://*/EvaluationEntities.csdl|res://*/EvaluationEntities.ssdl|res://*/EvaluationEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=StateEval;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EvalEntities" connectionString="metadata=res://*/DataModels.DatabaseEntities.csdl|res://*/DataModels.DatabaseEntities.ssdl|res://*/DataModels.DatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=StateEval;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="stateevalEntities" connectionString="metadata=res://*/StateEvalEntities.csdl|res://*/StateEvalEntities.ssdl|res://*/StateEvalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FIRENZE;initial catalog=stateeval;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>