<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{vm.localResource.title}}</h5>
    </div>
    <div class="ibox-content">
        <p>{{vm.locaResource.comments}}</p>
        <br/>
        <a href="{{vm.localResource.webUrl}}">{{vm.localResource.fileName}}</a>
        <a href="">This is where the upload care thing would go</a>
    </div>
    <div class="ibox-tools">
        <button ng-click="vm.back()" class="btn btn-primary" type="button">
            &nbsp;Back
        </button>
    </div>
</div>