<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Viewing Options</h4>
</div>
<div class="modal-body">
    <div>
        <select name="" id="">
            <option value="" ng-repeat="user in vm.impersonationOptions"></option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="vm.save()">Save</button>
</div>
