<nav class="navbar-default navbar-static-side" role="navigation">

    <div class="sidebar-collapse">
        <ul class="nav" side-navigation id="side-menu">

            <!--HEADER-->
            <li class="left-navbar-logo">
                <img alt="image" src="{{vm.evalLogo}}"/>
            </li>
            <!--PICTURE AND ROLES-->
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="img-circle" src="{{vm.user.profPic}}"/>
                    <span class="clear">
                    <span class="block m-t-xs left-navbar-profile-displayname">
                    <small><strong>{{vm.user.displayName}}</strong></small><br/><br/>
                    <div>
                        <small>{{vm.location}}</small>
                    </div>
                    <div>
                        <small>{{vm.role}}</small>
                    </div>
                    </span>
                    </span>
                    <hr/>
                </div>
            </li>

            <!--TODO: tags length always includes RS and VL so is at min 3-->
=            <li ng-show="vm.tagsLength>1" class="left-nav-eval-dropdown">
                <span>Work Area</span>
                <span>{{vm.currentTag}}</span>
                <select ng-model="vm.context.navOptions.workAreaTag" ng-change="vm.initWorkArea()">
                    <option value="{{key}}" ng-repeat="(key, value) in vm.workAreaTags">{{vm.workAreaService[key].title}}</option>
                    <option value="{{workAreaTag}}" ng-repeat="workAreaTag in vm.context.additionalWorkAreas">{{vm.workAreaService[workAreaTag].title}}</option>
                </select>
            </li>

            <li ng-if="vm.context.evaluatees" class="left-nav-eval-dropdown">
                <span>Evaluating</span>
                <br/>
                <select ng-model="vm.context.evaluatee" ng-change="vm.changeEvaluatee()"
                        ng-options="evaluatee.displayName for evaluatee in vm.context.evaluatees track by evaluatee.id"></select>
            </li>

             <li ng-show="vm.context.showOptions">
                <div class="pull-right"><a ng-click="vm.openOptionsModal()">Options</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <br/>
            </li>

            <links-menu></links-menu>


        </ul>
        <!--<button class="btn-primary btn-block" ng-click="vm.changeWorkArea()">Change Work Area</button>-->

    </div>
    <!--<button class="btn btn-lg btn-block btn-primary" ng-click="vm.click()">Evaluatee</button>-->
    <!--<button class="btn btn-lg btn-block btn-primary" ng-click="vm.click3()">SelfWiggle</button>-->


</nav>