<li ng-repeat-start="link in vm.wa.navbar" ng-class="{active: vm.parent === $index}"
    ng-repeat-end>
    <a ui-sref="{{link.state}}" ng-click="vm.clickLink($index, link)">
        <i ng-if="link.icon" class="{{link.icon}}"></i>
        <span class="nav-label">{{link.title}}</span>
        <span class="fa fa arrow" ng-show="link.subLinks.length"></span>
    </a>
    <ul class="nav nav-second-level" ng-repeat="subLink in link.subLinks">
        <li ng-class="{active: vm.parent === $parent.$index && vm.child === $index}">
            <a ui-sref="{{subLink.state}}" ng-click="vm.clickSubLink($index, $parent.$index)">
                <span class="nav-label">{{subLink.title}}</span>
            </a>
        </li>
    </ul>
</li>
