<div>
    <h3>Recently worked on</h3>
    <!-- todo: how long is recent?-->
    <p>List of items you have worked on in the past week </p>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Title</th>
            <th>Aligned to</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="items in vm.recentItems">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-primary btn-sm" ng-click="">Continue
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
