<div class="row border-bottom" ng-controller="topNavBarController as vm">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <li ng-show="vm.framework!=null">
                <select ng-options="item.id as item.name for item in vm.frameworks"
                        ng-model="vm.frameworkId" ng-change="vm.changeFramework()"></select>
            </li>
            <li>
                <a id="releaseNote" runat="server" href="javascript:releaseNotesPage()">Release Notes</a>
            </li>
            <li>
                <a href="accountInfo.aspx">Account</a>
            </li>
            <li>
                <a href="docs/eVALHelp.pdf" target="_blank">Help</a>
            </li>
            <li>
                <a ui-sref="login">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>
