<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="EntityLookupServiceUserName" value ="serviceUser"/>
    <add key="EntityLookupServicePassword" value ="Cupcakes @re tasty!"/>
  </appSettings>
  
  <connectionStrings>
    <add connectionString="data source=localhost;database=StateEval;uid=sa;pwd=mumBleFr@tz;Pooling=true;Max Pool Size=2000" name="SEDbConnection" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrganizationService">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services.ospi.k12.wa.us/Organization/OrganizationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrganizationService"
          contract="OSPIEntityLookupService.IOrganizationService" name="BasicHttpBinding_IOrganizationService" />
    </client>
  </system.serviceModel>
</configuration>